/* MIXINS UTILES */

$fonts-path: "../fonts/";


@mixin font-include($name, $file-name, $weight) {
	@font-face {
		font-family: $name;
		src: url('#{$fonts-path}#{$file-name}.eot');
		src: url('#{$fonts-path}#{$file-name}.eot?#iefix') format('embedded-opentype'),
			 url('#{$fonts-path}#{$file-name}.woff') format('woff'),
			 url('#{$fonts-path}#{$file-name}.ttf') format('truetype'),
			 url('#{$fonts-path}#{$file-name}.svg##{$file-name}') format('svg');
		font-weight: $weight;
		font-style: normal;
	}
}



@mixin pumbate-linear-gradient($color-from, $color-to, $direction: top, $repeat: repeat-x) {
	background-image: -moz-linear-gradient(top, $color-from, $color-to);
	background-image: -ms-linear-gradient(top, $color-from, $color-to);
	background-image: -webkit-linear-gradient(top, $color-from, $color-to);
	background-image: -o-linear-gradient(top,$color-from, $color-to);
	background-image: linear-gradient(top, $color-from, $color-to);
	background-repeat: $repeat;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


@mixin light-text-shadow($color) {
	text-shadow: 0 0 0.02em rgba($main-color, 0.3);
}

@mixin btn-variant($color, $bglight, $bgdark) {
  color: $color;
  background-color: $bgdark; 
  transition: background-color 200ms linear;
  border: none;
  @include gradient-vertical($bgdark, $bglight);
  
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: $bglight;
    border: none;
	@include gradient-vertical(rgba($bgdark, 0.2), $bglight);
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: $bglight;
    border: none;
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $bgdark;
	  border: none;
    }
  }

  .badge {
    color: $color;
    background-color: $bgdark;
  }
}


