/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #fde9ff;
	background: url(img/photobg.jpg) white repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}


h1 {
	font-family: blessed, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 150px;
	font-weight: normal;
	line-height: 105px;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
}


h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
}

h3.sectitle {
	font-family: blessed, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

h3 {
	text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 2px dotted #fde9ff;
  border-bottom: none;
}

.navbar-main {
	margin-bottom: 0px;
}

.navbar-main .nav > li > a {
	color: #620086;
}

.navbar-main  .nav > li > a:hover {

}

.navbar-main .navbar-inner {
	border: 1px solid #e5a2e9;
	background-image: -moz-linear-gradient(top, white, #f1c5ff);
	background-image: -ms-linear-gradient(top, white, #f1c5ff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1c5ff));
	background-image: -webkit-linear-gradient(top, #ffffff, #f1c5ff);
	background-image: -o-linear-gradient(top, #ffffff, #f1c5ff);
	background-image: linear-gradient(top, #ffffff, #f1c5ff);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1c5ff', GradientType=0);
}

.well {
	border: 0px none;
	background-color: #9500dd;
	background-color: rgba(149, 0, 221, 0.7);
	
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #9500dd;
	background-color: rgba(149, 0, 221, 0.7);
	background-repeat: repeat-x;
	background-image: none;
	border: 1px solid white;
}

.btn-main:focus,
.btn-main:hover,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled] {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #6c00a0;
	background-color: rgba(108, 0, 160, 0.7);
	border: 1px solid white;
}


a.pumbate-link, a.pumbate-link:hover {
	color: white;
}

#back-top a {
	color: white;
		text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}

.label-pumbate-phone {
	background-color: #3d0b57;
	background-color: rgba(34, 0, 52, 0.4);
}

.verified-banner {
	margin-top: -5px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 75px;
		line-height: 55px;
	}

	h2, h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 60px;
		line-height: 50px;
	}
}