/* 2018 - PUMBATE.COM */

@import "bootstrap2";

// Core variables and mixins 
@import "custom/util_mixins";


@font-face {
    font-family: 'remachine';
    src: url('../assets/themes/common/fonts/remachinescript-webfont.eot');
    src: url('../assets/themes/common/fonts/remachinescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/themes/common/fonts/remachinescript-webfont.woff') format('woff'),
         url('../assets/themes/common/fonts/remachinescript-webfont.ttf') format('truetype'),
         url('../assets/themes/common/fonts/remachinescript-webfont.svg#remachine') format('svg');
    font-weight: normal;
    font-style: normal;
}

@include font-include('Quicksand', 'quicksand/quicksand-regular-webfont', normal);
@include font-include('Quicksand', 'quicksand/quicksand-bold-webfont', bold);
@include font-include('Glyphicons Halflings', 'glyphicons/glyphicons-halflings-regular', normal);

@import "custom/bs3_glyphicons";

@import "thirdparty/jquery-ui/jquery-ui.min";
@import "thirdparty/jquery-ui/jquery.ui.datepicker.min";
@import "custom/jquery.ui.datepicker";

@import "thirdparty/bootstrap-image-gallery.min";
@import "thirdparty/jquery.fileupload-ui";

@import "fancybox/all";

// jquery.fileupload-ui-noscript is loaded aside from bundle in a noscript tag
//@import "thirdparty/jquery.fileupload-ui-noscript";

/* PUMBATE VARIABLES */
$color-wine-dark: #a0005e;

@import "pumbate/buttons";
@import "pumbate/forms";
@import "pumbate/all";
@import "pumbate/home";
@import "pumbate/banner";
@import "pumbate/section_panel";
