/* Admin Styles */

td.text-center, 
th.text-center {
	text-align: center;
}

td.text-right,
th.text-right {
	text-align: right;
}


.brand-logo-box {
	margin-top: 24px;
}

h1.top-title {
	font-size: $baseFontSize * 2.4; // ~38px
	margin-top: 28px;
}
	
.btn-back-container {
	margin-top: 34px;
}

.subheader-hr {
	margin-top: 5px;
}

img.flag16 {
	height: 20px; 
	vertical-align: top;
}


td.mujer, .table-striped tbody tr:nth-child(odd) td.mujer, .table-striped tbody tr:nth-child(2n+1):hover td.mujer {
	color: white;
	background-color: #e50087;
}

tr.mujer:hover {
	border-bottom: 1px solid #8a0051;
}

td.trans, .table-striped tbody tr:nth-child(odd) td.trans, .table-striped tbody tr:nth-child(2n+1):hover td.trans {
	color: white;
	background-color: #8e2bda;
}

td.hombre, .table-striped tbody tr:nth-child(odd) td.hombre, .table-striped tbody tr:nth-child(2n+1):hover td.hombre {
	color: white;
	background-color: #2b8eda;
}

td.duomm, .table-striped tbody tr:nth-child(odd) td.duomm, .table-striped tbody tr:nth-child(2n+1):hover td.duomm,
td.duomt, .table-striped tbody tr:nth-child(odd) td.duomt, .table-striped tbody tr:nth-child(2n+1):hover td.duomt,
td.duohm, .table-striped tbody tr:nth-child(odd) td.duohm, .table-striped tbody tr:nth-child(2n+1):hover td.duohm,
td.duohh, .table-striped tbody tr:nth-child(odd) td.duohh, .table-striped tbody tr:nth-child(2n+1):hover td.duohh {
	color: white;
	background-color: #5ac950;
}

.table-accounts td {
	vertical-align: middle;
}

.table-accounts tr:hover, .table-accounts tbody tr:nth-child(2n+1):hover td, .table-accounts tbody tr:nth-child(odd):hover td {
	background: #fff283;
}

.table-accounts tr:hover th {
	background: white;
}

.table-accounts a {
	color: #125ab3;
}

.table-accounts .actions {
	padding-top: 8px;
}

.table-accounts .actions a {
	margin-right: 8px;
	text-decoration: none;
}

.table-accounts .account-actions a:hover {
	text-decoration: none;
}

.alert-notification {
	color: #f72683;
	background: #fff7f9;
	border: 1px solid #f72683;
}

.alert-notification hr {
	margin-bottom: 5px;
	margin-top: 5px;
	border-top-color: #f8cdd7; 
}

.alert-notification .close {
	font-size: 16px;
	color: #f72683;
	opacity: 1.0;
}

.alert-notification-green {
	color: #4d8e48;
	border-color: #62a957;
	background: #f4fff2;
}

.alert-notification-green .close {
	color: #4d8e48;
}

.alert-notification-green hr {
	border-top-color: #b3f6c0;
}

.alert-notification-red {
	color: #dd5440;
	border-color: #dd5440;
	background: #feffd1;
}

.alert-notification-red hr {
	border-top-color: #f5f6b3;
}

.alert-notification-red .close {
	color: #dd5440;
}


.alert-notification-blue {
	color: #1768a6;
	border-color: #6cc4d4;
	background: #f2fdff;
}

.alert-notification-blue hr {
	border-top-color: #6cc4d4;
}

.alert-notification-blue .close {
	color: #1768a6;
}


.nice-quote {
	color: #f72683;
}

.label-rose {
	color: white;
	background: #f72683;
	background-image: -moz-linear-gradient(top, #ff68ab, #f72683);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff68ab), to(#f72683));
	background-image: -webkit-linear-gradient(top,  #ff68ab, #f72683);
	background-image: -o-linear-gradient(top, #ff68ab, #f72683);
	background-image: linear-gradient(to bottom, #ff68ab, #f72683);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68ab', endColorstr='#f72683', GradientType=0);	
}

.label-verificado {
	background: #468847;
	background-image: -moz-linear-gradient(top, #71da32, #468847);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#71da32), to(#468847));
	background-image: -webkit-linear-gradient(top,  #71da32, #468847);
	background-image: -o-linear-gradient(top, #71da32, #468847);
	background-image: linear-gradient(to bottom, #71da32, #468847);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71da32', endColorstr='#468847', GradientType=0);	
}

.label-oculto {
	background: #61a185;
	background-image: -moz-linear-gradient(top, #99c082, #61a185);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99c082), to(#61a185));
	background-image: -webkit-linear-gradient(top,  #99c082, #61a185);
	background-image: -o-linear-gradient(top, #99c082, #61a185);
	background-image: linear-gradient(to bottom, #99c082, #61a185);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c082', endColorstr='#61a185', GradientType=0);	
}


.label-verificar {
	background: #999999;
	background-image: -moz-linear-gradient(top, #999999, #6c6c6c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#6c6c6c));
	background-image: -webkit-linear-gradient(top,  #999999, #6c6c6c);
	background-image: -o-linear-gradient(top, #999999, #6c6c6c);
	background-image: linear-gradient(to bottom, #999999, #6c6c6c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#6c6c6c', GradientType=0);
}


td.bg-gratuita, .table-striped tbody > tr:nth-child(2n+1) > td.bg-gratuita {
	background: #BCE8FF;
	background-image: none;
	color: #194C67;
}

td.bg-basica, .table-striped tbody > tr:nth-child(2n+1) > td.bg-basica {
	background: #FFE7BC;
	background-image: none;
	color: #9F554B;
}

td.bg-grupo, .table-striped tbody > tr:nth-child(2n+1) > td.bg-grupo {
	background: #CFFFB0;
	background-image: none;
	color: #636363;
}


td.bg-top, .table-striped tbody > tr:nth-child(2n+1) > td.bg-top{
	background: #FFFB96;
	/*border-color: #E7AA65;*/
	background-image: none;
	color: #966126;
}

td.bg-destacada, .table-striped tbody > tr:nth-child(2n+1) > td.bg-destacada{
	background: #F8DCFF;
	/*border-color: #EF7CFF;*/
	background-image: none;
	color: #65396B;
}

td.bg-superstar, .table-striped tbody > tr:nth-child(2n+1) > td.bg-superstar{
	/*border-color: #EF7CFF;*/
	background-image: none;
	color: rgb(189, 0, 91);
	background: rgb(255, 249, 94) none repeat scroll 0% 0%;
}


.row-profile a {
	color: black;
}

.row-profile-selected a {
	color: white;
}


tr.row-profile-selected > td {
	background: #EC1F7A;
	color: white;
}


.label-gratuita {
	background: #265db8;
	background-image: -moz-linear-gradient(top, #4fb5db, #265db8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4fb5db), to(#265db8));
	background-image: -webkit-linear-gradient(top,  #4fb5db, #265db8);
	background-image: -o-linear-gradient(top, #4fb5db, #265db8);
	background-image: linear-gradient(to bottom, #4fb5db, #265db8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fb5db', endColorstr='#265db8', GradientType=0);
}


.label-basica {
	background: #a00049;
	background-image: -moz-linear-gradient(top, #f80055, #a00049);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f80055), to(#a00049));
	background-image: -webkit-linear-gradient(top,  #f80055, #a00049);
	background-image: -o-linear-gradient(top, #f80055, #a00049);
	background-image: linear-gradient(to bottom, #f80055, #a00049);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f80055', endColorstr='#a00049', GradientType=0);
}


.label-destacada {
	background: #6015ae;
	background-image: -moz-linear-gradient(top, #a922ff, #6015ae);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a922ff), to(#6015ae));
	background-image: -webkit-linear-gradient(top,  #a922ff, #6015ae);
	background-image: -o-linear-gradient(top, #a922ff, #6015ae);
	background-image: linear-gradient(to bottom, #a922ff, #6015ae);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a922ff', endColorstr='#6015ae', GradientType=0);
}


.label-top {
	background: #ff9600;
	background-image: -moz-linear-gradient(top, #ff9600, #cf5d00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9600), to(#cf5d00));
	background-image: -webkit-linear-gradient(top,  #ff9600, #cf5d00);
	background-image: -o-linear-gradient(top, #ff9600, #cf5d00);
	background-image: linear-gradient(to bottom, #ff9600, #cf5d00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9600', endColorstr='#cf5d00', GradientType=0);
}


.label-superstar {
	background-image: linear-gradient(to bottom, #ffb400, #d700dd);
}


div.img-material {
	max-width: 22%;
	margin: 0.5%;
	float: left;
}

div.img-material .img-material-inner {
	max-height: 150px;
	overflow: hidden;
}

div.img-material img {
	min-height: 150px;
}



.payments-nav-stacked {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  list-style: none;
}
.payments-nav-stacked > li {
	width: 96%;
	display: block;
	margin-right: 0;
	float: left;
	clear: both;
	padding: 10px 12px;
	line-height: 14px;
	  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: -1px;
}
.payments-nav-stacked > li:hover {
  text-decoration: none;
  background-color: #eeeeee;
}


.payments-nav-stacked > li:first-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.payments-nav-stacked > li:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.payments-nav-stacked > li:hover {
  border-color: #ddd;
  z-index: 2;
}


.btn-main, .navbar-panel .nav a.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
  background-color: #C2002C;
  background-image: -moz-linear-gradient(top, #F90039, #8B0020);
  background-image: -ms-linear-gradient(top, #F90039, #8B0020);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F90039), to(#8B0020));
  background-image: -webkit-linear-gradient(top, #F90039, #8B0020);
  background-image: -o-linear-gradient(top, #F90039,#8B0020);
  background-image: linear-gradient(top, #F90039, #8B0020);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F90039', endColorstr='#8B0020', GradientType=0);
  border-color: #6f001a;
 
  *background-color: #C2002C;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-main:hover, .navbar-panel .nav a.btn-main:hover,
.btn-main:active, .navbar-panel .nav a.btn-main:active,
.btn-main.active, .navbar-panel .nav a.btn-main.active,
.btn-main.disabled, .navbar-panel .nav a.btn-main.disabled,
.btn-main:focus, .navbar-panel .nav a.btn-main:focus,
.btn-main[disabled] {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #8B0020;
	*background-color: #8B0020;
}

.btn-main:active,
.btn-main.active {
	color: white;
	background-color: #C2002C \9;
}


.btn-rose, .navbar-panel .nav a.btn-rose {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
  background-color: #a2004b;
  background-image: -moz-linear-gradient(top, #fb0075, #a2004b);
  background-image: -ms-linear-gradient(top, #fb0075, #a2004b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb0075), to(#a2004b));
  background-image: -webkit-linear-gradient(top, #fb0075, #a2004b);
  background-image: -o-linear-gradient(top, #fb0075,#a2004b);
  background-image: linear-gradient(top, #fb0075, #a2004b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb0075', endColorstr='#a2004b', GradientType=0);
  border-color: #6f001a;
 
  *background-color: #a2004b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-rose:hover, .navbar-panel .nav a.btn-rose:hover,
.btn-rose:active, .navbar-panel .nav a.btn-rose:active,
.btn-rose.active, .navbar-panel .nav a.btn-rose.active,
.btn-rose.disabled, .navbar-panel .nav a.btn-rose.disabled, 
.btn-rose:focus, .navbar-panel .nav a.btn-rose:focus,
.btn-rose[disabled] {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #a2004b;
	*background-color: #a2004b;
}
.btn-rose:active,
.btn-rose.active {
	color: white;
	background-color: #a2004b \9;
}

.text-ellipsis-md,
.text-ellipsis-lg {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap; 
}

.text-ellipsis-lg {
	max-width: 180px;
}

.text-ellipsis-md {
	max-width: 140px;
}

.account-actions {
	margin-top: 10px;
	text-align: center;
}


.mini-btn-account-action {
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #0088CC;
	padding: 3px 5px;
	margin: 0 2px;
	text-decoration: none;
	border-radius: 6px;
	white-space: nowrap;
}

.mini-btn-account-action:hover {
	background: #0088CC;
	color: white;
	text-decoration: none;
}

.note-well .close {
	color: inherit;
	position: relative;
	right: -9px;
	top: -15px;
}


.note-well {
	color: #999999;
	background: #FCFCFC;
	padding: 15px;
	font-size: 12px;
	line-height: 14px;
	border: 1px solid #EFEFEF;
	border-radius: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	min-height: 75px;
}

.note-well .title {
	font-weight: bold;
	color: #FFDFE7;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 15px;
	margin-top: 0px;
	max-width: 100%;
	border-bottom: 2px dotted #EFEFEF;
	padding-bottom: 4px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap; 
}

.note-well .title a {
	color: #DA6398;
}

.note-well-view-title {
	color: #DA6398;
}

.note-well-view-content {
	font-size: 18px;
	line-height: 26px;
}



.note-well-view-footer {
	color: #999999;
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}


.nav-tabs > li:hover {
	cursor: pointer;
}


.directory-selector-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow-y: scroll;
	max-height: 400px;
	min-height: 200px;
}


.dir-row:hover {
	cursor: pointer;
}

td.dir-row-active {
	font-weight: bold !important;
	background: #4D9BFF !important;
	color: white;
}



@media (max-width : 480px){
	h1 {
		font-size: 16px;
		line-height: 18px;
	}
	
	.brand-logo-box {
		display: block;
		clear: both;
		float: left;
		width: 100%;
		text-align: center;
	}
	
	h1.top-title {
		font-size: 22px;
		line-height: 24px;
		display: block;
		text-align: center;
		margin-bottom: 5px;
		margin-top: 5px;
		float: left;
		clear: both;
		width: 100%;
	}
	
	h1.top-title > small {
		width: 100%;
		float: left;
		clear: both;
		font-size: 16px;
		line-height: 18px;
	}
	
	.btn-back-container {
		text-align: center;
		margin-top: 16px;
		margin-bottom: 5px;
	}
	
	.btn-back-container .btn {
		font-size: 12px;
		line-height: 14px;
		padding: 2px;
		float: none;
		font-weight: normal;
	}
	
	hr.subheader-hr {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	
	.menu-nav-btn-container {
		text-align: center;
		width: 100%;
		margin-bottom: 0px;
	}
	
	.btn-menu {
		width: 100%;
	}
	
	.nav {
		padding-top: 10px;
		margin-bottom: 16px;
		border-bottom: 1px solid #cecece;
		border-right: 1px solid #cecece;
		border-left: 1px solid #cecece;
		border-radius: 0px 0px 4px 4px;
	}
	
	.nav-phone-separator {
		margin-bottom: 10px;
	}
	
	
	.table-accounts-phone td {
		text-align: center;
		padding: 10px;
		border-bottom: 2px solid #cecece;
	}
	
	.table-accounts-phone .name {
		font-size: 16px;
		line-height: 18px;
	}
	
	.table-accounts-phone .actions {
		text-align: center;
		padding: 10px;
	}
	
	.table-accounts-phone .actions a {
		font-size: 22px;
		line-height: 26px;
		padding: 6px;
		text-decoration: none;
	}
	
	.table-accounts-phone .actions a:hover {
		text-decoration: none;
	}
	
	.account-actions {
		line-height: 30px;
	}
	
	.note-well {
		margin-bottom: 10px;
	}
}
