/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	font-family: humanst521, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background: url(img/photobg.jpg) black repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 40px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000;
	-moz-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000;
	-o-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000;
	-webkit-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000;
}


h1 {
	font-family: humanst521, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90px;
	font-weight: normal;
	line-height: 85px;
	text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-moz-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-o-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-webkit-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	margin-top: 25px;
	margin-bottom: 30px;
}

h2 {
	font-family: freestyle, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	letter-spacing: 2px;
	text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-moz-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-o-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-webkit-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
	line-height: 35px;	
}


h3.sectitle {
	font-family: freestyle, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 55px;
	font-weight: normal;
	line-height: 45px;
	letter-spacing: 2px;
	text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-moz-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-o-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-webkit-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
}

h3 {
	text-align: center;
	text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-moz-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-o-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
	-webkit-text-shadow: 0.0em 0em 0.1em #000, 0.0em 0.0em 0.5em #000, 0.0em 0em 0.5em #000;
}

hr {
	margin: 20px auto;
	border-color: #ffba00;
	border-top: 0px;
	-moz-box-shadow: 0 0 0.6em #ffba00;
	-webkit-box-shadow: 0 0 0.6em #ffba00;
	box-shadow: 0 0 0.6em #ffba00;	
}



.hr-main {
	margin-top: 0px;
}


.navbar-main {
	margin-top: 0px;
}

.navbar-main i[class*="icon-"] {
    margin-right: 3px;
    margin-top: 5px;
}

.navbar-main .nav > li > a {
	font-size: 20px;
	color: white;
	/*text-shadow:  0 0 0.05em #ff0090;
	-moz-text-shadow:    0 0 0.05em #ff0090;
	-webkit-text-shadow:   0 0 0.05em #ff0090;
	-o-text-shadow:    0 0 0.05em #ff0090;*/
}

.navbar-main  .nav > li > a:hover {
	color: white;
	text-shadow: 0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-moz-text-shadow:  0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-webkit-text-shadow: 0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-o-text-shadow:  0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;	
}

.navbar-main .navbar-inner {
	border: 1px solid #ffc600;
	background: transparent url('img/wellbg.png');
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-box-shadow: 0 0 0.2em #ff00a8;
	-webkit-box-shadow: 0 0 0.2em #ff00a8;
	box-shadow: 0 0 0.2em #ff00a8;
}

.well {
	border: 2px solid #ffba00;
	background: transparent url('img/wellbg.png');
	-moz-box-shadow: 0 0 0.4em #ffba00;
	-webkit-box-shadow: 0 0 0.4em #ffba00;
	box-shadow: 0 0 0.4em #ffba00;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.gallery {
	margin: 30px 0px;
}

.gallery .img-wrap {
    height: 135px;
    overflow: hidden;
}

.gallery .block-gallery {
	background: transparent;
	border: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.gallery .block-gallery .img-wrap {
	-moz-box-shadow: 0 0em 1.0em #cb523a;
	-webkit-box-shadow:  0 0em 1.0em #cb523a;
	-o-box-shadow: 0 0em 1.0em #cb523a;
	box-shadow: 0 0em 1.0em #cb523a;
	border-radius: 600px;
}

.gallery .block-gallery .img-wrap:hover {
	-moz-box-shadow: 0 0em 1.0em #ff6c4f, 0 0em 1.0em #ff6c4f;
	-o-box-shadow:  0 0em 1.0em #ff6c4f, 0 0em 1.0em #ff6c4f;
	-webkit-box-shadow:  0 0em 1.0em #ff6c4f, 0 0em 1.0em #ff6c4f;
	box-shadow: 0 0em 1.0em #ff6c4f, 0 0em 1.0em #ff6c4f;
}


@media only screen and (min-width : 320px) and (max-width : 768px){
	.gallery .span2 {
		float: left;
		clear: none;
		width: 48.717948717948715%;
		*width: 48.664757228587014%;
	}
}

#morepics-pic:hover {
	cursor: pointer;
}


.big-phone {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 32px;
	line-height: 50px;
	font-weight: bold;
}


a.pumbate-link, a.pumbate-link:hover {
	color: white;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
}

#back-top a {
	text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	color: white;
}

#back-top a:hover  { 
	color: white;
	text-shadow: 0 0 0.4em #ff00c0, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #ff00c0, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #ff00c0, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #ff00c0, 0 0 0.4em #4e003b;
}


.full {
	width: 100%;
}

.label-pumbate-phone {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: white;
	background: #9c267f;
	background: rgba(156, 38, 127, 0.5);
	white-space: normal;
	text-align: left;
	margin-top: 10px;
}

.label-pumbate-phone a {
	color: white;
}

.verified-banner {
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
}