/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {

}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: white;
	background: url(img/rose.jpg) white repeat; 
}

a, a:hover {
	color: inherit;
}

h1,h2,h3,h4,h5,h6,p,li {
	 text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-moz-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-webkit-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-o-text-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
}


h1 {
	text-align: center;
	text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-moz-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-webkit-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-o-text-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
}

h2 {
	text-align: center;
}


h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	color: white;
}

h3.sectitle {
	text-align: center;
	 text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-moz-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-webkit-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-o-text-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
}

h3 {
	text-align: center;
	 text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-moz-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-webkit-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
	-o-text-text-shadow: 0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ff8fc3;
  border-bottom: 1px solid #ffdfee;
}

.navbar-main .nav > li > a {
	color: #88004a;
}

.navbar-main  .nav > li > a:hover {

}

.navbar-main .navbar-inner {
	border: 1px solid #FF8FC3;
	background-image: -moz-linear-gradient(top, white, #ffc2e3);
	background-image: -ms-linear-gradient(top, white, #ffc2e3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffc2e3));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: -o-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: linear-gradient(top, #ffffff, #ffc2e3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffc2e3', GradientType=0);
}

.well {
	border-width: 2px;
	border-color: #ec4191;
	background: rgb(92, 0, 26);
	background: rgba(92, 0, 26, 0.4);
}

.main-well {
	padding: 40px;
}

.btn-main, .navbar-panel .nav a.btn-main {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #C2002C;
	background-image: -moz-linear-gradient(top, #F90039, #8B0020);
	background-image: -ms-linear-gradient(top, #F90039, #8B0020);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F90039), to(#8B0020));
	background-image: -webkit-linear-gradient(top, #F90039, #8B0020);
	background-image: -o-linear-gradient(top, #F90039,#8B0020);
	background-image: linear-gradient(top, #F90039, #8B0020);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F90039', endColorstr='#8B0020', GradientType=0);
	border-color: #ec4191;

	*background-color: #C2002C;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-main:hover, .navbar-panel .nav a.btn-main:hover,
.btn-main:active, .navbar-panel .nav a.btn-main:active,
.btn-main.active, .navbar-panel .nav a.btn-main.active,
.btn-main.disabled, .navbar-panel .nav a.btn-main.disabled, 
.btn-main:focus, .navbar-panel .nav a.btn-main:focus,
.btn-main[disabled] {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #8B0020;
	*background-color: #8B0020;
}

.btn-main:active,
.btn-main.active {
	color: white;
	background-color: #C2002C \9;
}

.btn-main-noborder {
	border: 0px;
}


.label-pumbate-phone {
	background: #FF0078;
	background: rgba(255, 0, 120, 0.7);
}


#back-top a {
	color: white;
		text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}

@media (max-width: 480px) {
	p {
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
	}
}


