/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #fde9ff;
	background: url(img/photobg.jpg) #7d0000 repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.1em red;
	-moz-text-shadow: 0 0 0.1em red;
	-webkit-text-shadow: 0 0 0.1em red;
	-o-text-shadow: 0 0 0.1em red;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120px;
	font-weight: normal;
	line-height: 105px;
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;	
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;	
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
	line-height: 35px;	
}

h3.sectitle {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0.0em 0.4em #ff0000, 0 -0.1em 0.4em #ff0000, 0 -0.2em 0.1em #ff0000, 0 0 0.4em #ff0000;
	-moz-text-shadow: 0.05em 0.05em 0.1em #000, 0 0.0em 0.4em #ff0000, 0 -0.1em 0.4em #ff0000, 0 -0.2em 0.1em #ff0000, 0 0 0.4em #ff0000;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0.0em 0.4em #ff0000, 0 -0.1em 0.4em #ff0000, 0 -0.2em 0.1em #ff0000, 0 0 0.4em #ff0000;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0.0em 0.4em #ff0000, 0 -0.1em 0.4em #ff0000, 0 -0.2em 0.1em #ff0000, 0 0 0.4em #ff0000;
}

h3 {
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;	
}

hr {
	margin: 20px auto;
	border: 0;
	border-top: 1px solid #ac2c2c;
	border-bottom: 1px solid #ff4f4f;
}

.navbar-main {

}

.navbar-main .nav > li > a {
	color: white;
}

.navbar-main  .nav > li > a:hover {
	color: #fbff89;
}

.navbar-main .navbar-inner {
	border: 1px solid #ac0008;
	background-image: -moz-linear-gradient(top, #ce000a, #5f0004);
	background-image: -ms-linear-gradient(top, #ce000a, #5f0004);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce000a), to(#5f0004));
	background-image: -webkit-linear-gradient(top, #ce000a, #5f0004);
	background-image: -o-linear-gradient(top, #ce000a, #5f0004);
	background-image: linear-gradient(top, #ce000a, #5f0004);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce000a', endColorstr='#5f0004', GradientType=0);
}

.well {
	border: 0px none;
	background: transparent url('img/wellbg.png');
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #a20e0e;
	background-repeat: repeat-x;
	background-image: none;
	border: 1px solid white;
}

.btn-main:focus,
.btn-main:hover,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled] {
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color:  #770c0c;
	border: 1px solid white;
}


a.pumbate-link, a.pumbate-link:hover {
	color: white;
}

#back-top a {
	color: white;
		text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}


.label-pumbate-phone {
	font-family: sans-serif;
	background-color: #6b0824;
	background-color: rgba(182, 17, 68, 0.5);
}

.verified-banner {
	margin-top: -4px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2, h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}