/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	font-family: cocon, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fb2585;
	background: url(img/photobg.jpg) white repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 40px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.05em #fb2585;
	-moz-text-shadow: 0 0 0.05em #fb2585;
	-webkit-text-shadow: 0 0 0.05em #fb2585;
	-o-text-shadow: 0 0 0.05em #fb2585;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120px;
	font-weight: normal;
	line-height: 105px;
	text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-moz-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-o-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-webkit-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	margin-top: 25px;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-moz-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-o-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
	-webkit-text-shadow: 0.05em 0.05em 0.1em #fff, 0 0 0.4em #00d2ff;
}


h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
	line-height: 35px;	
}



h3.sectitle {
	font-family: cocon, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 35px;
	
}

h3 {
text-shadow: none;
	-moz-text-shadow:   none;
	-webkit-text-shadow:  none;
	-o-text-shadow:  none;
}

hr {
	margin: 20px auto;
	border-color: #00a5c7; 
	-moz-box-shadow: 0 0 0.6em #00d2ff;
	-webkit-box-shadow: 0 0 0.6em #00d2ff;
	box-shadow: 0 0 0.6em #00d2ff;	
}

hr.main {
	border-color: #55bcd2;
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-main {
	margin-top: 0px;
}

.navbar-main i[class*="icon-"] {
    margin-right: 3px;
    margin-top: 5px;
}

.navbar-main .nav > li > a {
	font-size: 20px;
	color: #fb2585;
	font-weight: bold;
	/*text-shadow:  0 0 0.05em #ff0090;
	-moz-text-shadow:    0 0 0.05em #ff0090;
	-webkit-text-shadow:   0 0 0.05em #ff0090;
	-o-text-shadow:    0 0 0.05em #ff0090;*/
}

.navbar-main  .nav > li > a:hover {
	color: white;
	font-weight: bold;
	text-shadow: 0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-moz-text-shadow:  0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-webkit-text-shadow: 0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;
	-o-text-shadow:  0 0 0.4em #ff0090, 0 0 0.4em #ff0090, 0 0 0.4em #ff0090;	
}

.navbar-main .navbar-inner {
	border: 1px solid #00a5c7;
	background: transparent url('img/wellbg.png');
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-box-shadow: 0 0 0.2em #00d2ff;
	-webkit-box-shadow: 0 0 0.2em #00d2ff;
	box-shadow: 0 0 0.2em #00d2ff;
}

.well {
	border: 1px solid #00a5c7;
	background: transparent url('img/wellbg.png');
	-moz-box-shadow: 0 0 0.2em #00d2ff;
	-webkit-box-shadow: 0 0 0.2em #00d2ff;
	box-shadow: 0 0 0.2em #00d2ff;
}


.gallery .block-gallery {
	border: 1px solid #00a5c7;
	-moz-box-shadow: 0 0 0.2em #00d2ff;
	-webkit-box-shadow: 0 0 0.2em #00d2ff;
	box-shadow: 0 0 0.2em #00d2ff;
}



.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
  background-color: #0093b1;
  background-image: -moz-linear-gradient(top, #00b4ff, #0093b1);
  background-image: -ms-linear-gradient(top, #00b4ff, #0093b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b4ff), to(#0093b1));
  background-image: -webkit-linear-gradient(top, #00b4ff, #0093b1);
  background-image: -o-linear-gradient(top, #00b4ff, #0093b1);
  background-image: linear-gradient(top, #00b4ff, #0093b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4ff', endColorstr='#0093b1', GradientType=0);
  border-color: white;
 
  *background-color: #0093b1;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-main:hover, .navbar .nav > li > a.btn-main:hover,
.btn-main:active, .navbar .nav > li > a.btn-main:active,
.btn-main.active, .navbar .nav > li > a.btn-main.active,
.btn-main.disabled,
.btn-main:focus,
.btn-main[disabled] {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #0093b1;
	*background-color: #0093b1;
}
.btn-main:active,
.btn-main.active {
	background-color: #0093b1 \9;
}



a.pumbate-link, a.pumbate-link:hover {
	color: #FF0078;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
}

#back-top a {
	color: #FF0078;
}

#back-top a:hover  { 
	color: #FF0078;
}


.full {
	width: 100%;
}

.label-pumbate-phone {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: white;
	background: #00a5c7;
	white-space: normal;
	text-align: left;
	margin-top: 10px;
}

.label-pumbate-phone a {
	color: white;
}

.verified-banner {
	margin-top: -8px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2 {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
		text-align: center;
	}
	
	h3.sectitle {
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		font-weight: bold;
	}
}