/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	font-family:  quicksand,"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background: url(img/photobg.jpg) black repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



h1,h2,h3,h4,h5,h6,p,li {
    text-shadow: 0 0 0.1em #ff8a00, 0 0 0.05em #FF005A, 0 0 0.05em #ffba00;
	-moz-text-shadow:  0 0 0.1em #ff8a00, 0 0 0.05em #FF005A, 0 0 0.05em #ffba00;
	-webkit-text-shadow:  0 0 0.1em #ff8a00, 0 0 0.05em #FF005A, 0 0 0.05em #ffba00;
	-o-text-shadow:  0 0 0.1em #ff8a00, 0 0 0.05em #FF005A, 0 0 0.05em #ffba00;
}


h1 {
	font-family: "indento", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 75px;
	font-weight: normal;
	line-height: 90px;
	font-weight: normal;
}

h2 {
	font-family: "indento", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 45px;
	font-weight: normal;
	line-height: 55px;	
	font-weight: normal;
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	font-size: 35px;
	line-height: 45px;	
}


h3.main {
	background: transparent url('img/wellbg.png');
	margin: 20px 0;
	border-top: 2px dotted #84715c;
	border-bottom: 2px dotted #84715c;
}


h3.sectitle {
	font-family: "indento", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 38px;
}

h3.sectitle-bg {
	padding-left: 20px;
}


hr {
	margin: 20px 0;
	border-top: 2px dotted #84715c;
	border-bottom: 0px solid transparent;
}


.navbar-main .nav > li > a {
	color: white;
	font-weight: bold;
	text-shadow: none;
	-moz-text-shadow:  none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
}

.navbar-main  .nav > li > a:hover {
	color: white;
	background: #2d1d0b;
}

.navbar-main .navbar-inner {
	border: 1px solid #84715c;
	background: transparent url('img/wellbg.png');
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.well {
	border: 1px solid #84715c;
	background: transparent url('img/wellbg.png');
}


.gallery .block-gallery {
	border: 1px solid #84715c;
	background: #2d1d0b;
	background: rgba(45, 29, 11, 0.8);
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-o-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
} 

.gallery .block-gallery:hover {
	border: 1px solid #84715c;
	background: transparent url('img/graybg.png');
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
  background-color: #2d1d0b;
  background-image: -moz-linear-gradient(top, #a06f3b, #2d1d0b);
  background-image: -ms-linear-gradient(top, #a06f3b, #2d1d0b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a06f3b), to(#2d1d0b));
  background-image: -webkit-linear-gradient(top, #a06f3b, #2d1d0b);
  background-image: -o-linear-gradient(top, #a06f3b, #2d1d0b);
  background-image: linear-gradient(top, #a06f3b, #2d1d0b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a06f3b', endColorstr='#2d1d0b', GradientType=0);
  border-color: #2d1d0b;
 
  *background-color: #2d1d0b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-main:hover, .navbar .nav > li > a.btn-main:hover,
.btn-main:active, .navbar .nav > li > a.btn-main:active,
.btn-main.active, .navbar .nav > li > a.btn-main.active,
.btn-main.disabled,
.btn-main:focus,
.btn-main[disabled] {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #2d1d0b;
	*background-color: #2d1d0b;
}
.btn-main:active,
.btn-main.active {
	background-color: #2d1d0b \9;
}




a.pumbate-link, a.pumbate-link:hover {
	color: white;
}

#back-top span {
	background-color: #df1a00;
	background-color: rgba(223, 26, 0, 0.5);
}

#back-top a:hover span {
	background-color: #f7381e;
	background-color: rgba(223, 26, 0, 0.8);
}

#back-top a {
	color: white;
	text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-moz-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-webkit-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-o-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
}

#back-top a:hover  { 
	color: white;
		text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-moz-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-webkit-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
	-o-text-shadow: 0 0 0.2em #f7381e, 0 0 0.2em #ff005a;
}

.label-pumbate-phone {
	font-family: sans-serif;
	background: #2d1d0b;
	background: rgba(45, 29, 11, 0.8);
}

.verified-banner {
	margin-top: -6px;
	float: right;
}