
@font-face {
    font-family: 'indento';
    src: url('../fonts/indento-webfont.eot');
    src: url('../fonts/indento-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/indento-webfont.woff') format('woff'),
         url('../fonts/indento-webfont.ttf') format('truetype'),
         url('../fonts/indento-webfont.svg#indentobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'indento';
    src: url('../fonts/indento-webfont.eot');
    src: url('../fonts/indento-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/indento-webfont.woff') format('woff'),
         url('../fonts/indento-webfont.ttf') format('truetype'),
         url('../fonts/indento-webfont.svg#indentobold') format('svg');
    font-weight: bold;
    font-style: normal;
}