@font-face {
    font-family: 'blessed';
    src: url('../fonts/blessed_day-webfont.eot');
    src: url('../fonts/blessed_day-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blessed_day-webfont.woff') format('woff'),
         url('../fonts/blessed_day-webfont.ttf') format('truetype'),
         url('../fonts/blessed_day-webfont.svg#blessed') format('svg');
    font-weight: normal;
    font-style: normal;

}