
@font-face {
    font-family: 'remachine';
    src: url('../fonts/remachinescript-webfont.eot');
    src: url('../fonts/remachinescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/remachinescript-webfont.woff') format('woff'),
         url('../fonts/remachinescript-webfont.ttf') format('truetype'),
         url('../fonts/remachinescript-webfont.svg#remachine') format('svg');
    font-weight: normal;
    font-style: normal;

}

