@font-face {
    font-family: 'cocon';
    src: url('../fonts/cocon-light-webfont.eot');
    src: url('../fonts/cocon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cocon-light-webfont.woff') format('woff'),
         url('../fonts/cocon-light-webfont.ttf') format('truetype'),
         url('../fonts/cocon-light-webfont.svg#cocon_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cocon';
    src: url('../fonts/cocon-regularcondensed-webfont.eot');
    src: url('../fonts/cocon-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cocon-regularcondensed-webfont.woff') format('woff'),
         url('../fonts/cocon-regularcondensed-webfont.ttf') format('truetype'),
         url('../fonts/cocon-regularcondensed-webfont.svg#cocon_condensedregular') format('svg');
    font-weight: bold;
    font-style: normal;
}