
@font-face {
    font-family: 'humanst521';
    src: url('../fonts/humanst521-webfont.eot');
    src: url('../fonts/humanst521-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/humanst521-webfont.woff') format('woff'),
         url('../fonts/humanst521-webfont.ttf') format('truetype'),
         url('../fonts/humanst521-webfont.svg#humanst521') format('svg');
    font-weight: normal;
    font-style: normal;

}