
@font-face {
    font-family: freestyle;
    src: url('../fonts/freestyle-script.eot');
    src: url('../fonts/freestyle-script.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freestyle-script.woff') format('woff'),
         url('../fonts/freestyle-script.ttf') format('truetype'),
         url('../fonts/freestyle-script.svg#freestyle') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: freestyle;
    src: url('../fonts/freestyle-script.eot');
    src: url('../fonts/freestyle-script.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freestyle-script.woff') format('woff'),
         url('../fonts/freestyle-script.ttf') format('truetype'),
         url('../fonts/freestyle-script.svg#freestyle') format('svg');
    font-weight: bold;
    font-style: normal;
}
