/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	font-family:  quicksand,"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background: url(img/photobg.jpg) black repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-moz-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-o-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-webkit-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
}


h1 {
	font-family: quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 75px;
	font-weight: normal;
	line-height: 90px;
	text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	font-weight: normal;
}

h2 {
	font-family: quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 45px;
	font-weight: normal;
	line-height: 55px;	
	text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	font-weight: normal;
}


h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	font-family: quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 45px;	
	text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-moz-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-o-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	-webkit-text-shadow: 0 0 0.2em white,0 0 0.2em black, 0 0 0.1em black;
	font-weight: normal;
	text-align: center;
}


h3.sectitle {
	font-family: quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 38px;
	text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
}

h3 {
	text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em black, 0 0 0.2em #ff6ae8;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #444444;
}


.navbar-main .nav > li > a {
	color: #d5d5d5;
	font-weight: normal;
}

.navbar-main  .nav > li > a:hover {
	color: white;
}

.navbar-main .navbar-inner {
	border: 2px solid #2f2f2f;
	background-image: -moz-linear-gradient(top, #5f5f5f, #1a1a1a);
	background-image: -ms-linear-gradient(top, #5f5f5f, #1a1a1a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f5f5f), to(#1a1a1a));
	background-image: -webkit-linear-gradient(top, #5f5f5f, #1a1a1a);
	background-image: -o-linear-gradient(top, #5f5f5f, #1a1a1a);
	background-image: linear-gradient(top, #5f5f5f, #1a1a1a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f5f5f', endColorstr='#1a1a1a', GradientType=0);
}

.well {
	border-color: #444444;
	background: transparent url('img/wellbg.png');
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #414141;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
  }
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color:  #4c4c4c;
  }




a.pumbate-link, a.pumbate-link:hover {
	color: white;
}

#back-top a {
	color: white;
	text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}

.label-pumbate-phone {
	font-family: sans-serif;
	background: #333;
}

.verified-banner {
	margin-top: -6px;
	float: right;
}

