/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: white;
	background: url(img/photobg.jpg) black repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background-container {
	border-left: 3px solid #ff8fc3;
	border-right: 3px solid #ff8fc3;
	background: transparent url('img/contbg.png');
	padding: 0px 10px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: normal;
	line-height: 105px;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
}

h3.sectitle {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 0 0.2em #860065, 0 0 0.2em #4e003b;
	-moz-text-shadow: 0 0 0.2em #860065, 0 0 0.2em #4e003b;
	-webkit-text-shadow: 0 0 0.2em #860065, 0 0 0.2em #4e003b;
	-o-text-shadow: 0 0 0.2em #860065, 0 0 0.2em #4e003b;
}

h3 {
	text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 3px dotted #ff8fc3;
  border-bottom: none;
}

.navbar-main {
	margin-top: 0px;
}

.navbar-main .nav > li > a {
	color: #88004a;
}

.navbar-main  .nav > li > a:hover {

}

.navbar-main .navbar-inner {
	border: 1px solid #FF8FC3;
	background-image: -moz-linear-gradient(top, white, #ffc2e3);
	background-image: -ms-linear-gradient(top, white, #ffc2e3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffc2e3));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: -o-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: linear-gradient(top, #ffffff, #ffc2e3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffc2e3', GradientType=0);
}

.well {
	border: 0px none;
	background: transparent url('img/wellbg.png');
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #8f0052;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
	border: 1px solid #ff8fc3;
  }
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color:  #630039;
	  border: 1px solid #ff8fc3;
  }
  
a.pumbate-link {
    color: white;
}

a.pumbate-link:hover {
	color: white;
}

#back-top a { 
	color: white;
		text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
}

#back-top a:hover { 
	color: white;
}

.label-pumbate-phone {
	background-color: #d32053;
}

.verified-banner {
	margin-top: -3px;
	float: right;
}

@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2 {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}
