/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #d20c62;
	background: url(img/photobg.jpg) #12499b repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 40px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-moz-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-webkit-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-o-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120px;
	font-weight: normal;
	line-height: 125px;
	margin: 20px 0px;
	color: #ffdaeb;
	text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-moz-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-webkit-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-o-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	
}

h2 {
	color: #ffdaeb;
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-moz-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-webkit-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-o-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	color: #ffdaeb;
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	text-shadow: 0 0 0.1em #ff4799, 0 0 0.2em #ff4799;
	-moz-text-shadow: 0 0 0.1em #ff4799, 0 0 0.2em #ff4799;
	-webkit-text-shadow:0 0 0.1em #ff4799, 0 0 0.2em #ff4799;
	-o-text-shadow: 0 0 0.1em #ff4799, 0 0 0.2em #ff4799;
}


h3.sectitle {
	color: #af0a51;
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-moz-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-webkit-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-o-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
}

h3 {
	margin: 20px 0;
	color: white;
	text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-moz-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-webkit-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-o-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ff8fc3;
  border-bottom: 1px solid #ffdfee;
 	-moz-box-shadow:  0 -2px 0.8em #cb523a; 
	-webkit-box-shadow:  0 -2px 0.8em #cb523a; 
	-o-box-shadow:  0 -2px 0.8em #cb523a; 
	box-shadow: 0 -2px 0.8em #cb523a; 
	-webkit-opacity:0.5;
	-o-opacity:0.5;
	-moz-opacity:0.5;
	opacity:0.5;
}


.navbar-main {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-main .nav > li > a {
	color: #75336b;
}

.navbar-main  .nav > li > a:hover {

}

.navbar-main .navbar-inner {
	border: 1px solid #FF8FC3;
	border-bottom: 2px solid #bf64b1;
	background-image: -moz-linear-gradient(top, white, #e396d7);
	background-image: -ms-linear-gradient(top, white, #e396d7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e396d7));
	background-image: -webkit-linear-gradient(top, #ffffff, #e396d7);
	background-image: -o-linear-gradient(top, #ffffff, #e396d7);
	background-image: linear-gradient(top, #ffffff, #e396d7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e396d7', GradientType=0);
		 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.content-bg {
	 background: url("img/content-bg.png") repeat-x scroll 0 0 #F5F2ED;
	 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
		 -moz-box-shadow: 0 3px 0.5em #cb523a, 0 0 4.0em #ff00ae;
	-webkit-box-shadow: 0 3px 0.5em #cb523a, 0 0 4.0em #ff00ae;
	-o-box-shadow: 0 3px 0.5em #cb523a, 0 0 4.0em #ff00ae;
	box-shadow:  0 3px 0.5em #cb523a, 0 0 4.0em #ff00ae; 

}

.content{
	 padding: 10px 10px 40px 10px;
}


.well {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	border: none;
	background: url('img/wellbg.png') transparent;
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #9a0042;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
  }
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color:  #cf2a71;
  }

  a.pumbate-link, a.pumbate-link:hover {
	  color: #ffdaeb;
	text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-moz-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-webkit-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
	-o-text-shadow: 0 0 0.4em #ff4799, 0 0 0.4em #ff4799;
  }

#back-top a { 
	color: white;
		text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
}

#back-top a:hover { 
	color: white;
}

.label-pumbate-phone {
	background: #d20c62;
}

.verified-banner {
	margin-top: -2px;
	float: right;
}


.gallery {
	margin: 30px 0px;
}

.gallery .img-wrap {
    height: 150px;
    overflow: hidden;
}

.gallery .block-gallery {
	background: transparent;
	border: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.gallery .block-gallery .img-wrap {
	-moz-box-shadow: 0 0em 0.5em #cb523a;
	-webkit-box-shadow:  0 0em 0.5em #cb523a;
	-o-box-shadow: 0 0em 0.5em #cb523a;
	box-shadow: 0 0em 0.5em #cb523a;
	border-radius: 20px;
}

.gallery .block-gallery .img-wrap:hover {
	-moz-box-shadow: 0 0em 0.5em #ff6c4f, 0 0em 0.5em #ff6c4f;
	-o-box-shadow: 0 0em 0.5em #ff6c4f, 0 0em 0.5em #ff6c4f;
	-webkit-box-shadow: 0 0em 0.5em #ff6c4f, 0 0em 0.5em #ff6c4f;
	box-shadow: 0 0em 0.5em #ff6c4f, 0 0em 0.5em #ff6c4f;
}


@media only screen and (min-width : 320px) and (max-width : 768px){
	.gallery .span2 {
		float: left;
		clear: none;
		width: 48.717948717948715%;
		*width: 48.664757228587014%;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2, h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}