
html {
    height:100%;
}

body {
    background: url('../img/bg/rose.jpg') #a0042a;
    height:100%;
    font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #FF008A;
    cursor: pointer;
}

a:hover {
    color: #9C0075;
}

.nobreak {
    white-space: nowrap !important;
}

a.lightlink {
    color: #ffe179;
}

a.lightlink:hover {
    color: #fff288;
}

p.bold {
    font-weight: bold;
}

p.medium {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

p.big {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.rose-highlight {
    color: white;
    background: #f72683;
    border-radius: 4px;
}

.yellow-highlight {
    color: #C3002D;
    background-color: #ffd387;
    border-radius: 4px;
}

.yellow-highlight-box,
#main-nav h3 a.yellow-highlight-box {
    border: 2px solid yellow;
    box-shadow: 0px 0px 6px 1px rgba(255, 255, 0, 1);   
}

.rose-highlight-box {
    border: #F90039;
    box-shadow: 0px 0px 6px 1px #f72683;    
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }

.round-10 {
    border-radius: 10px;
}

.round-bottom-10 {
    border-radius: 0px 0px 10px 10px;
}

.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }

.margin-bottom-0 { margin-bottom: 0px;}
.margin-bottom-10 { margin-bottom: 10px;}
.margin-bottom-20 { margin-bottom: 20px;}
.margin-bottom-30 { margin-bottom: 30px;}
.margin-bottom-40 { margin-bottom: 40px;}
.margin-bottom-50 { margin-bottom: 50px;}

.margin-top-0 { margin-top: 0px;}
.margin-top-10 { margin-top: 10px;}
.margin-top-20 { margin-top: 20px;}
.margin-top-30 { margin-top: 30px;}
.margin-top-40 { margin-top: 40px;}
.margin-top-50 { margin-top: 50px;}

.color-white, a.color-white { color: white; }
.color-inherit, a.color-inherit { color: inherit; }
.color-yellow, a.color-yellow { color: #ffe179; }
.color-rose, a.color-rose { color: #FF008A; }
.color-violet, a.color-violet { color: #9C0075; }


.register-promo {
    border-radius: 0 0 0 10px;
    display: block;
    width: 100%;
}


img.full, div.video {
    display: block;
    width: 100%;
}

.wrap {
    height: auto !important;
    min-height: 84%;
    margin: 0 auto 15px;
    clear: both;
}

.header-container {
    margin-top: 0px;
    /*background: url('../img/bg/header.png') bottom repeat-x;*/
    padding-bottom: 20px;
}

.header-container h3 {
    color: white;
    font-weight: bold;
}

h1.logo {
    margin: 0;
    text-align: center;
}

h2.logo {
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0px 25px;
    text-shadow: 0 0 0.2em #ff0000, 0 0 0.05em #ff004c, 0 0.01em 0.1em #ff004c;
}

h2.logo u {
    text-decoration: none;
} 

#main-nav {
    text-align: right;
}

#main-nav h3 {
    color: white;
    font-weight: bold;
    padding-top: 60px;
}


#main-nav h3 a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: black;
    background: rgba(57, 0, 24, 0.75);
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 1px solid transparent;
    -webkit-transition:.3s;
    transition:.3s;
    white-space:nowrap;
    border-radius: 8px;
}

#main-nav h3 a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px rgba(255, 82, 196, 1);
    text-decoration: none;
    text-shadow: 2px 2px 2px 2px #6D0019;
}

@media only screen and (max-width : 1024px) {
    #main-nav h3 {
        padding-top: 32px;
    }
    
    #main-nav h3, #main-nav h3 a {
        font-size: 16px;
    }
}

@media only screen and (max-width : 768px) {
    
    #main-nav h3 a {
        font-size: 18px;
        display: block;
        padding: 16px;
        margin-bottom: 4px;
    }
    
    #main-nav h3 {
        line-height: 0px;
        padding-top: 0px;
    }
    
    #main-nav {
        text-align: center;
    }
}




.carousel-inner .item img {
    width: 100%;
    /*max-height: 500px;*/
}

.rose-container {
    background: url('../img/gradient1.png') top repeat-x #ed043c;
}

.black-container {
    background: black;
    color: white;
}

.white-container {
    background-color: #FECDD5;
}

.glass-container-light {
    background-color: #ed2b4f;
    background-color: rgba(237, 43, 79, 0.8);
}

.glass-container-dark {
    background-color: #5c001a;
    background-color: rgba(92, 0, 26, 0.6);
}


.gallery-header {
    color: $color-wine-dark;
    border-top: 6px solid $color-wine-dark;
    //padding: 10px 15px 0px 15px;
    text-align: center;
    @include pumbate-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.section-header h3 {
    font-size: 32px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: white;
}

.try-container {
    background:  url('../img/gradient3.png') top repeat-x #570013;
}

.advertise-container {
    background: #570013;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    border-top: 3px solid #98031d;
}

.advertise-header {
    background: #c70166;
    border-bottom: 3px solid #98031d;
    padding: 0.5rem 0;
}

.advertise-header h3 {
    padding: 0 0.3rem;
}


footer {
    color: #FED1D8;
    background: url("../img/footer-background.png") repeat-x scroll 0 0 #db0639;
    height: 65px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
}

.featured {
    margin-left: 0px;
    width: 400px;
}

.featured img {
    margin-left: 0px;
    width: 400px;
    border: 0px;
}

.featured .micropic {
    padding-top: 20px;
    background: #8a001d;
}



.carousel-featured {
    margin-bottom: 0px;
}

.carousel-featured .carousel-inner {
    height: 400px;
    overflow: hidden;
}



#back-top {
    position: fixed;
    bottom: 10px;
    right: 35px;
}

#back-top a {
    width: 90px;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 0.4em #710019, 0 0 0.4em #710019;
    /* background color transition */
    -webkit-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: white;
    text-shadow: 0 0 0.4em #F87, 0 0 0.4em #F87
}
/* arrow icon (span tag) */
#back-top span {
    width: 90px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background: #ff008a url(../img/up-arrow.png) no-repeat center center;
    border-radius: 15px;
    /* background color transition */
    -webkit-transition: 1s;
    transition: 1s;
}


.panel-container {
    border-radius: 10px;
    min-height:100%;
    color: #C3002D;
    padding-bottom: 35px;
}

.panel-container blockquote,
.panel-container p, 
.panel-container h1, 
.panel-container h2,
.panel-container h3,
.panel-container h4,
.panel-container h5 {
    padding: 4px 10px 10px 10px;
    color: #C3002D;
}

.panel-container label {
    font-weight: bold;
}

@media screen and (min-width: 980px) {
    .panel-container .control-label {
        width: 220px;
    }

    .panel-container .controls {
        margin-left: 240px;
    }
}

.panel-container .tab-content {
    background-color: #FFF5F7;
    padding: 20px 10px 20px 10px;
    border-top: 3px solid #C3002D;
    min-height: 300px;
}

.panel-container legend {
    color: white;
    background: #C3002D;
    text-align: center;
    border: 0px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}



select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    background-color: #FFFFFF;
    border: 1px solid #FF4E6D;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 3px;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(255, 0, 45, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 82, 0.8);
    border-radius: 3px;
    outline: 0 none;
}


.nav-tabs > li:hover {
    cursor: pointer;    
}

.alert-panel {
    min-height: 50px;
}

.alert-panel-text, .alert h4 {
    color: inherit;
}

.alert-panel-text-picture {
    font-size: 16px;
    line-height: 18px;
    margin-left: 55px;
    margin-bottom: 0px;
    display: block;
    padding: 0px;
}

.alert-panel-picture-icon {
    float: left;
    margin-top: 3px;
}

.alert-panel-author {
    min-width: 100%;
    color: inherit;
    opacity: 0.9;
    font-weight: bold;
    margin-bottom: 5px;
    display:block
}

.alert-pink-noborder {
    color: #f72683;
    background: #fff7f9;
    border-radius: 0px;
    border: none;
}

.alert-pink {
    color: #f72683;
    background: #fff7f9;
    border: 1px solid #f72683;
}

.alert-pink hr, .alert-pink-noborder hr {
    margin-bottom: 5px;
    margin-top: 5px;
    border-top-color: #f8cdd7; 
}

.alert-pink .close, .alert-pink-noborder .close {
    font-size: 16px;
    color: #f72683;
    opacity: 1.0;
}

.alert-panel-success, .alert-panel-warning {
    color: #C3002D;
    font-size: 16px;
    font-weight: bold;
    border-width: 1px;
    border-color: #C3002D;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 2px #c37083;
}

 .alert-panel-success {
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#fff1f6, #ffcdf1);
}

 .alert-panel-warning {
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#fff0cd, #ffd182);
}

.alert-panel-success .close, .alert-panel-warning .close {
    color: #C3002D;
    opacity: 1.0;
}

.theme-foto {
    display: block;
    float: left;
    overflow: hidden;
    width: auto;
    border: 1px solid #FECDD5;
    border-radius: 4px;
    margin: 7px;
    padding: 9px;
    background: none repeat scroll 0 0 #FFFFFF;
    /*min-height: 345px;*/
}

.theme-foto:hover {
    box-shadow:         0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 1px solid #C3002D;
    cursor: pointer;
}

.theme-foto img {
    border: 1px solid #D1D1D1;
    display: block;
    overflow: hidden;
    width: 100%;
}

.theme-foto .in-use {
    margin-top: 15px;
    display: none; 
}

.theme-name {
    text-align: center;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #C3002D;
}

.theme-options {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.theme-foto-selected, .theme-foto-selected:hover {
    border: 0px;
    background: #FF115A;
    box-shadow: none;
}

.theme-foto-selected .theme-options {
    display: none;
}

.theme-foto-selected .theme-name {
    color: white;
}

.theme-foto-selected .in-use {
    display: block; 
}

.form-welcome {
    color: white;
    padding: 10px 20px 20px 20px;
    margin-top: 0px;
    
    .input-xlarge { width: 90%; }
    .input-large { width: 70%; } 
    .control-group { margin-bottom: 25px; }
    .form-welcome label { color: white; }
    
    textarea, label, input, .input-prepend .add-on {
        font-weight: bold;
    }
    
    .input-prepend .add-on {
        background: #C2002C;
    }
    
    .label-important, .label-error {
        font-size: 16px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        float: left;
        border-radius: 5px 5px 0 0;
    }
    
    .help-inline {
        font-size: 16px;
        color: white;
        background: #f72775;
        font-weight: bold;
        margin-top: 0px;
        padding: 4px;
        float: left;
        border-radius: 0 5px 5px 5px;
    }
    
    .label .icon-white {
        margin-top: 2px;
    }
    
    h2 {
        font-size: 22px;
        line-height: 26px;
    }

    select:focus, textarea:focus, input:focus {
       border-color: rgba(255, 0, 45, 0.8);
       box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset, 4px 4px 16px rgba(255, 0, 82, 0.8);
       border-radius: 3px;
       outline: 0 none;
   }
   
   input[type=file]{
       font-size: 14px;
       font-weight: bold;
       max-width: 100%;
   }
    
} 


.label-pumbate {
    color: white;
    background-color: #f72683;
    @include pumbate-linear-gradient(#ff68ab, #f72683);
}

.label-error, .label-important {
    background: #C2002C;
}

a.promolink {
    color: #FF008A;
    font-size: 50px;
    text-shadow: 0 0 0.2em #710019, 0 0 0.2em #710019;
}

a.promolink:hover {
    color: #ff0090;
}

a.promolink2 {
    font-size: 36px;
}


.alert-danger, .alert-error {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.form-login {
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px;
}

.navbar-panel {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    bottom: 0;
}

.navbar-panel .nav {
    margin: auto;
    text-align: center;
    width: 100%;
}
.navbar-panel .nav > li {
    padding: 5px;
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar-panel .navbar-inner {
    border: 1px solid #FF8FC3;
    border-top: 3px solid #FF8FC3;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 10px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    @include pumbate-linear-gradient(#ffffff, #ffc2e3);
}

.navbar-tryit {
    position: fixed;
    bottom: 0;
    right: 0;
}


hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ff8fc3;
  border-bottom: 1px solid #ffdfee;
}

.alert-uploading, 
.alert-uploading-success,
.alert-uploading-error {
    position: fixed; 
    top: 50%;
    left: 35%;
    display: none;
}


.welcome-logo {
    margin: 10px 0;
    text-align: center;
}

.toc-well {
    background: rgba(124, 0, 35, 0.75);
    border: 0px;
    padding: 10px 40px;
    border-radius: 0px 0px 10px 10px;
}

.toc-well h2 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.toc-well .purple-box {
    background: rgba(57, 0, 24, 0.75);
    margin-bottom: 15px;
}

.toc-well .purple-box div.toc-title, .toc-well .purple-box div.toc-go {
    margin: 10px 0;
    color: white;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.toc-well .purple-box div.toc-title {
    text-decoration: underline;
}

.toc-well .purple-box div.toc-text {
    margin: 10px 0;
    color: white;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.toc-well .purple-box img:hover { 
    background: #8a001d;
}

.purple-box-inner {
    padding: 10px 30px;
}

.purple-box hr.topline {
    margin-top: 0px;
}

.purple-box hr.bottomline {
    margin-bottom: 0px;
}

.btn-complete-toc {
    color: white; text-decoration: none; font-weight: bold;
}

.toc-well h1, .toc-well h2, .toc-well h3 {
    color: white;
}

.toc-well .country-welcome-flags {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.bterms, h4.bterms, h5.bterms, h6.bterms {
    color: white;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width : 480px){
    
    .toc-well h2 {
        font-size: 16px;
        line-height: 18px;
    }
    
    .toc-well .country-welcome-flags {
        margin-top: 10px;
        margin-bottom: 10px;        
    }
    
    h3.bterms, h4.bterms, h5.bterms, h6.bterms {
        display: none;  
    }
}

.countryinfo {
    font-size: 14px;
    padding: 5px 0px;
    color: white; 
    text-align: center;
    font-weight: bold;
    background: rgba(124, 0, 35, 0.75);
    border-radius: 0px 0px 10px 10px;
}

.countryinfo > a, .countryinfo > a:hover {
    color: white;
}


.pumbate-adpic-block {
    background-color: #FFFFFF;
    border: 1px solid #f78edb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    max-width: 100%;
    padding: 4px;
    position: relative;
}

.pumbate-adpic-block .in-use {
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

.pumbate-adpic-block-selected, .pumbate-adpic-block-selected:hover {
    background: #FF115A;
    box-shadow:         none;
}

.pumbate-adpic-block-selected .btn-adpic {
    display: none;
}

.pumbate-adpic-block-selected .in-use {
    color: white;
    display: block;
}

// FIX TEXT CENTER ON PANEL SELECT MAIN PICTURE
.pumbate-adpic-selection {
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
}

.pumbate-adpic-block:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 1px solid #C3002D;
    cursor: pointer;    
}

.pumbate-adpic-block-featured {
    box-shadow: 0px 0px 2px #ffa200, 0px 0px 2px #ffa200, 0px 0px 4px #ff0096;
    border: 1px solid #eabf2b;
    background: #fff6cb repeat;
}

.pumbate-adpic-name {
    color: #C3002D;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 4px 0px 4px;
    text-align: center;
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: white;
    border-radius: 0px 5px 0px 5px;
}

.pumbate-adpic-block-featured .pumbate-adpic-name {
    background: #fff6cb;
}



.pumbate-adpic-wrap {
    height: 130px;
    overflow: hidden;
}

.pumbate-adpic-wrap img.horizontal {
    max-width: none;
    height: 100%;
    position: relative;
    /*left: -25%;*/
}

.pumbate-adpic-wrap img.vertical {
    max-height: none;
    width: 100%;
}



.pumbate-adpic-block-main, .pumbate-adpic-wrap-main {
    border-radius: 5px;
}

.pumbate-adpic-block-main .pumbate-adpic-name {
    font-size: 12px;
}

.pumbate-adpic-block-main .pumbate-adpic-name a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #FF008A;
}

.featured-star {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    width: 22px;
    height: 20px;
    background: url('../img/icons/featured-star.png') no-repeat top left;
}


.row-escort {
  width: 100%;
  *zoom: 1;
}
.row-escort:before,
.row-escort:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-escort:after {
  clear: both;
}
.row-escort [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0.627659574468085%;
  *margin-left: 0.574468085106383%;
}

.row-escort [class*="span"]:first-child {
  margin-left: 0;
}

.row-escort .span-escort {
    float: left;
    clear: none;
    width: 11.950797872340425%;
    *width: 11.997340425531915%;
}

@media only screen and (min-width : 320px) and (max-width : 768px){
    .row-escort .span-escort {
        float: left;
        clear: none;
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .pumbate-adpic-block-main .pumbate-adpic-name, .pumbate-adpic-block-main .pumbate-adpic-name a {
        font-size: 12px;
    }
    .row-escort .pumbate-adpic-wrap {
        height: 120px;
    }
    
    .alert-panel-text {
        font-size: 16px;
        line-height: 17px;
    }
    
    .alert-panel-text-picture {
        margin-left: 30px;
    }
    
    .alert-panel-picture-icon {
        margin-top: 0px;
        max-width: 24px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 768px){
    .row-escort .span-escort {
        float: left;
        clear: none;
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
}

.promo-contact {
    color: #C3002D;
    margin: 10px 0px;
    font-weight: bold;
    min-height: 50px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#FFF1F6, #FFCDF1);
}

.promo-result {
    padding: 40px 10px; 
    background: black;
    margin: 5px 0 25px 0;
}


.pumbate-adpic-block-absent img {
    opacity:0.4;
}

.label-absent {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background: #f72683;
    font-size: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
}

.front-block {
    border-right: 1px solid #c42069;
    border-left: 1px solid #c42069;
}


h3.news {
    text-shadow: 0 1px 2px #450034;
    font-size: 18px;
    line-height: 28px;
    padding: 0px 10px;
    margin: 0px 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #790311;
    box-shadow: 0px 2px 5px rgba(121, 3, 17, 0.75);
    background-color: #e90084; 
    @include pumbate-linear-gradient(#ff0090, #8a001d);
}

.row-front .span6 {
    width: 50%;
    margin: 0px;
}

.row-front .span3 {
    width: 25%;
    margin: 0px;
}

@media only screen and (max-width : 768px) {
    .row-front .span6, .row-front .span3, .row-front .span9 {
        width: 100%;
        margin: 0px;
    }
}

.blog-entries {
    padding: 10px 4px 0px 4px;
}

.blog-entries h4.latest-entries, .blog-entries2 h4.latest-entries {
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px #450034;
}

.blog-entries .well {
    border: 1px solid #ffb5eb;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 2px;
    min-height: 15px;
    padding: 2px 2px 2px 8px;
    background-color: #fff1f6;
    @include pumbate-linear-gradient(#fff1f6, #ffcdf1);
}

.blog-entries .well h4 { text-align: left; }
.blog-entries .well h4 a { color: #9c0075; font-size: 16px; line-height: 18px; }


.blog-entries2 { padding: 0px 4px 0px 4px; }

.blog-entries2 .well {
    border: 1px solid #ffb5eb;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 2px;
    min-height: 12px;
    padding: 2px 4px 2px 4px;
    background-color: #fff1f6;
    @include pumbate-linear-gradient(#fff1f6, #ffcdf1);
}

.blog-entries2 .well h4 { text-align: left; margin: 4px;}
.blog-entries2 .well h4 a { color: #9c0075; font-size: 14px; line-height: 14px; }



#scrollbar1 .viewport { max-width: 100%; min-height: 310px; overflow: hidden; position: relative; }
#scrollbar1 .overview { width: 99%; list-style: none; position: absolute; left: 0; top: 0; padding: 0px 0px 0px 0px; margin: 0 3px 0 0; }
#scrollbar1 .scrollbar{ background: #971458; float: right; width: 8px; border-radius: 2px; }
#scrollbar1 .track { background: transparent ; height: 100%; width:8px; position: relative; padding: 0 1px;  }
#scrollbar1 .thumb { background: #ffaad8; height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px;  border-radius: 2px;}
#scrollbar1 .thumb .end { background: transparent; overflow: hidden; height: 5px; width: 15px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#scrollbar2 .viewport { max-width: 100%; min-height: 140px; overflow: hidden; position: relative; }
#scrollbar2 .overview { width: 99%; list-style: none; position: absolute; left: 0; top: 0; padding: 0px 0px 0px 0px; margin: 0 3px 0 0; }
#scrollbar2 .scrollbar{ background: #971458; float: right; width: 8px; border-radius: 2px; }
#scrollbar2 .track { background: transparent ; height: 100%; width:8px; position: relative; padding: 0 1px;  }
#scrollbar2 .thumb { background: #ffaad8; height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px;  border-radius: 2px;}
#scrollbar2 .thumb .end { background: transparent; overflow: hidden; height: 5px; width: 15px; }
#scrollbar2 .disable { display: none; }


.slide-top-escorts{
    margin: 0px;
    background: #a0042a;
    /*border-left: 4px solid #c42069;*/
}

.slide-top-escorts .carousel-inner .item img {
    max-height: 360px;
}

.slide-top-escorts .carousel-inner {
    overflow-y: hidden;
    max-height: 360px;
}

.slide-top-escorts .carousel-inner .item h4 a {
    color: white;
}

.slide-top-escorts .carousel-inner .item h4 a:hover {
    text-decoration: none;
}

.logo-404 {
    width: 100%;
    font-size: 32px;
    line-height: 36px;
    color: white;
    font-weight: bold;
    margin-top: 50px;   
    margin-bottom: 20px;
    text-align: center;
    text-shadow:  0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
}

h1.back-to-front {
    padding: 30px 0px;
}

h1.back-to-front a, h2.text-404 {
    text-shadow:  0 0 0.5em #FF0000, 0 0 0.2em #FF004C;
    color: white;
}
    

.well-panel {
    color: #C3002D;
    font-weight: bold;
    border-width: 2px;
    border-color: #C3002D;
    background: #FFEEF6;
    @include pumbate-linear-gradient(#fff1f6, #ffcdf1);
}

.well-panel-yellow {
    background: #ffeef6;
    @include pumbate-linear-gradient(#fff0cd, #ffd182);
}

.well-panel-yellow hr {
    border-top: 2px dotted #b9924e;
}

.table-visits {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.table-visits th {
    border-bottom: 2px solid #C3002D;
}

.table-visits td {
    padding: 10px;
}

.newsletter {
    margin-bottom: 0px;
    border-top: 6px solid #a0005e;
    text-align: center;
    padding: 4px;
}


.newsletter-lead {
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 4px;
}


.newsletter a .icon-white {
    margin-top: 1px;
}

.form-suscribe {
    margin-top: 30px;
    margin-bottom: 30px;
}

.textcontent {
    color: white;
}

.textcontent p {
    font-size: 16px;
    font-weight: bold;
}

.help-inline-white {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: #f72775;
    padding: 2px 8px 2px 4px;
    border-radius: 0px 5px 5px 0px;
}

.label-inline {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding: 3px 8px 1px 8px;
    border-radius: 5px 0px 0px 5px;
    vertical-align: middle;
}

.pictures-notes {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #C30022;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 0px;
}

.pictures-notes a {
    color: #f1002b;
}


/*

    ESTANDAR PAGE CONTAINER STYLE

*/


.page-container {
    min-height: 300px;
    background: rgba(124, 0, 35, 0.75);
    border: 0 none;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
}

.page-container-inner {
    padding: 10px;
}

.page-container > h1,h2,h3,h4 {
    font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wallmessage {
    position: relative;
    color: #3b2e24;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-radius: 3px;
    margin: 0px 0px 15px 0px;
    padding: 10px 10px 0px 10px;
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#fff1f6, #dadada);
} 

.wallmessage-sticky {
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#fff0cd, #ffd182);
}

.wallcomment {
    position: relative;
    color: #3b2e24;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-radius: 3px;
    margin: 0px 0px 15px 0px;
    padding: 10px 10px 0px 10px;
    background-color: #FFEEF6;
    @include pumbate-linear-gradient(#fff1f6, #ffcdf1);
}

.wallcomment-deleted, .wallmessage-deleted {
    opacity: 0.85;
}

.wallmessage hr {
    margin: 0px 0px;
    border-top: 1px solid #c3a0d1;
    border-bottom: 1px solid #f4f4f4;
}

.wallmessage-sticky hr {
    margin: 0px 0px;
    border-top: 1px solid #d7af69;
    border-bottom: 1px solid #fff2b4;
}

.wallcomment hr {
    margin: 0px 0px;
    border-top: 1px solid #f493c4;
}

h2.walltitle small {
    margin-left: 10px;
    color: #5f4a3e;
    font-size: 26px;
    color: white;
}

.wallmessage h4 small {
    margin-left: 5px;
    color: #5f4a3e;
    font-size: 14px;
}

.wallmessage a.title, .wallmessage a {
    color: #c81474;
}

.wallmessage a:hover {
    color: #ec1789;
}

.wallmessage a.readmore {
    font-weight: bold;
}

.wallmessage a.title:hover {
    text-decoration: none;
}

.wallmessage .text, .wallcomment .text {
    word-wrap: break-word;
    padding: 10px 0px;
}

.wallmessage .date, .wallcomment .date  {
    font-size: 12px;
    text-align: left;
}

.wallmessage .replies {
    text-align: right;
}

.wallmessage  .label-comments {
    background: #C81474;
    color: white;
    height: 14px;
}

.wallmessage .label-deleted {
    background: #C81474;
    color: white;
    font-size: 18px;    
}

.wallcomment .label-deleted {
    background: #C81474;
    color: white;
    font-size: 14px;    
}

.wallmessage  .label-comments:hover {
    color: white;
    background: #E1005A;
}

.wallmessage .actions, .wallcomment .actions {
    position: absolute;
    top: 5px;
    right: 10px;
}

ul.wallcategories {
    margin: 0 0 10px 0px;
    background-color: transparent;
    background-color: rgba(111, 2, 35, 0.6);
}

ul.wallcategories li {
    border-bottom: 1px dotted #FF8FC3;
    list-style-type: none;
    padding: 4px 6px;
}

ul.wallcategories li:hover {
    background: none repeat scroll 0 0 #FF0066;
    border-bottom: 1px dotted #B2D0DE;
}

ul.wallcategories li a {
    color: white;
}

/*
    TOOLTIPS AND POPOVERS
*/

.pumbate-tooltip {
    @extend .tooltip;
    font-size: 14px;
    font-weight: bold;
    
    &.in { 
        @include opacity(100);
    }
    
    .tooltip-inner {
        @extend .tooltip-inner;
        max-width: 200px;
        padding: 3px 8px;
        background: #fffce4;
        box-shadow: 0px 0px 10px rgba(212, 5, 52, 0.75);
        border: 1px solid #C3002D;
        color: #C3002D;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
    }
    
    .tooltip-arrow {
        @extend .tooltip-arrow;
        border-top-color: #C3002D !important;
    }
}

.popover {
    width: 320px;
    max-width: none;
    background:  #fffce4;
    box-shadow: 0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 1px solid #C3002D;
    color: #C3002D;
}

.popover.top .arrow {
  border-top-color: #fffce4;
}

.popover.left .arrow {
  border-left-color: #fffce4;
}

.popover.right .arrow {
  border-right-color: #fffce4;
}


.popover-inner {
    border: 0px;
    padding: 0px;
    margin: 0px;
    /*color: white;*/
}

.popover-img-container  {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    
}

.popover-inner img {
    display: inline;
    max-width: 100px;
    padding: 0 2px;
}

.popover-title {
    background: transparent;
    border: 0px;
    padding: 4px;
}

.popover-content {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    clear: both;
    font-weight: bold;  
    font-size: 14px;
    border: 0px;
    padding: 4px;
    text-align: center;
}

.popover .phone-big {
    padding: 6px;
    font-size: 20px;
    line-height: 20px;
    margin: 6px 0px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f72683;
    @include pumbate-linear-gradient(#ff68ab, #f72683);
}


@media only screen and (max-width : 768px){
    
    .popover {
        max-width: 200px;
    }
    
    .popover-title {
        display: none;
    }
    
    .popover-content {
        font-size: 14px;
        font-weight: bold;
        
    }
}

/* TOP GALLERY */

.gallery-keywords-title {
    color: #C30022;
    text-align: center;
}

.gallery-top-title {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 28px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 2px #ff26ff, 0px 0px 5px #ffb526;
}

.gallery-top-title i.glyphicon {
    color: #ffe851;
}


.gallery-top-content {
    padding: 0px 10px 10px 10px;
    margin-bottom: 0px;
    background: url('../img/bg/top.png') #b20384 repeat;
    border-bottom: 2px solid #ff0090;
    border-top: 3px solid #eb32bb;
}


.gallery-top-content > .row-top-escorts-first {
    margin-bottom: 30px;
}


.gallery-premium-title {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow:  0px 0px 2px #ff26ff, 0px 0px 5px #ffb526;
}

.gallery-premium-content {
    padding: 0px 10px 10px 10px;
    margin-bottom: 20px;
    background: url('../img/bg/premium.png') #d00a6d repeat;
    border-bottom: 2px solid #f87b95;
}

.gallery-premium-content .row-escort {
    margin-bottom: 10px;
}

.gallery-normal-title {
    color: #C30022;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.gallery-normal-content {
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width : 768px) {
    .gallery-top-title {
        font-size: 22px;
        line-height: 26px;
    }
    
    .gallery-premium-title {
        font-size: 18px;
        line-height: 22px;
    }
    
    .gallery-normal-title {
        font-size: 18px;
        line-height: 22px;
    }
}


.pumbate-adpic-block-top {
    background: #ffe9fe;
    padding: 3px;
}

.pumbate-adpic-block-top .pumbate-adpic-name {
    background: #ffe9fe;
    position: static;
    font-size: 16px;
}

.pumbate-adpic-block-top .pumbate-adpic-name a  {
    font-size: 16px;
    font-family: 'Quicksand';
    color: #9C0075;
}

.pumbate-adpic-block-top .pumbate-adpic-name a:hover {
    text-decoration: none;
}

.pumbate-adpic-block-top .pumbate-adpic-wrap-main {
    border: 1px solid #cd9eca;
}


.panel-nav-tabs > li > a {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 18px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 0px;
    border-radius: 8px 8px 0 0;
    background-color: #f07097;
    @include pumbate-linear-gradient(#f07097, #c35678); 
}

.panel-nav-tabs > li > a:hover {
    border: 0px;
    background-color: #d94b76;
    @include pumbate-linear-gradient(#d94b76, #bb193f);
}

.panel-nav-tabs > .active > a,
.panel-nav-tabs > .active > a:hover {
    color: white;
    border: 0px;
    border-bottom-color: transparent;
    background-color: #FF0066;
    @include pumbate-linear-gradient(#FF0066, #e1005a);
}


table.table-panel-pics > tbody {
        
    tr:nth-child(odd) {
        background: #FFF0F4;
    }
    
    tr.main-picture,
    tr.main-picture:nth-child(odd) {
        background-color: #FFFFA8 !important;
    }
    
}


@media screen and (max-width : 480px) {
    body {
        padding: 10px;
    }
    
    .navbar-panel .nav a.btn-main {
        font-size: 12px;
        padding: 6px 3px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .btn-set-main-picture, .is-main-picture {
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        padding: 4px !important;        
    }
    
    .panel-nav-tabs {
        text-align: center;
        padding: 4px;
    }
    
    .panel-nav-tabs > li {
        display: inline-block;
        float: none;
        //width: auto;
    }
    
    .panel-nav-tabs > li > a {
        border-radius: 4px;
        padding: 6px;
        margin: 2px;
    }
    
}