.banners-header {
    border-bottom: 3px solid $color-wine-dark;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;    
    padding: 4px;
    background: #ff0090;
    @include pumbate-linear-gradient(#ff0090, rgba($color-wine-dark, 0.8) 80%);
}

.banners-content {
    @extend .row-fluid;
    background: #de167d;
}


.banners-columns-5 .block-banner {
    width: percentage(1/5);
    float: left;

    .block-banner-title {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }
}

.banners-columns-4 .block-banner {
    width: percentage(1/4);
    float: left;
}

.banners-columns-3 .block-banner {
    width: percentage(1/3);
    float: left;

    .block-banner-title {
        font-size: 4.4rem;
        line-height: 4.4rem;
    }
}


.block-banner {
    position: relative;
    
    .block-banner-main-img {
        width: 100%;
    }

    .block-banner-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        //width: 100%;
        font-family: remachine;
        font-size: 3.4rem;
        line-height: 3.4rem;
        padding: 0rem 0.3rem;
        color: white;
        text-shadow: 0 0 0.4em #ff005a,0 0 0.2em rgba(0, 0, 0, 0.8);
        text-align: center;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 0.3rem solid rgb(248, 210, 0);
    }

    .block-banner-title:hover {
        text-decoration: none;
    }


    &:nth-child(2n) .block-banner-title {
        border-bottom: 0.3rem solid #fffd31;
    }

    .featured-star {
        width: 47px;
        height: 41px;
        background: url('../img/icons/premium-stars-sm.png') no-repeat top left;
    }
    
}

@media only screen and (max-width : 768px) {
    .block-banner {
        width: 100%;
        margin: 0px;
    }

    .banners-columns-3 .block-banner,
    .banners-columns-4 .block-banner,
    .banners-columns-5 .block-banner {
        width: 100%;
        margin: 0px;
        
        .block-banner-title {
            font-size: 3.4rem;
            line-height: 3.4rem;
        }

    }

    .block-banner .block-banner-main-img {
        min-height: auto;
        width: 100%;
    }
}
