.btn {
    font-weight: bold;
}

.btn-full {
    width: 100%;
}

.btn-link:hover {
    color: #FF115A;
}

.btn-main, .navbar-panel .nav a.btn-main {
    font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    border-color: #6f001a;
    background-color: #C2002C;
    @include pumbate-linear-gradient(#F90039, #8B0020);
}

.btn-main:hover, .navbar-panel .nav a.btn-main:hover,
.btn-main:active, .navbar-panel .nav a.btn-main:active,
.btn-main.active, .navbar-panel .nav a.btn-main.active,
.btn-main.disabled, .navbar-panel .nav a.btn-main.disabled, 
.btn-main:focus, .navbar-panel .nav a.btn-main:focus,
.btn-main[disabled] {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: #8B0020;
}

.btn-main:active,
.btn-main.active {
    color: white;
    background-color: #C2002C \9;
}

.btn-main-noborder {
    border: 0px;
}


.btn-rose, .navbar-panel .nav a.btn-rose {
    font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    border-color: #6f001a;
    background-color: #a2004b;
    @include pumbate-linear-gradient(#fb0075, #a2004b);
}

.btn-rose:hover, .navbar-panel .nav a.btn-rose:hover,
.btn-rose:active, .navbar-panel .nav a.btn-rose:active,
.btn-rose.active, .navbar-panel .nav a.btn-rose.active,
.btn-rose.disabled, .navbar-panel .nav a.btn-rose.disabled, 
.btn-rose:focus, .navbar-panel .nav a.btn-rose:focus,
.btn-rose[disabled] {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: #a2004b;
}
.btn-rose:active,
.btn-rose.active {
    color: white;
    background-color: #a2004b \9;
}

.btn-rose-noborder {
    border: 0px;
}