textarea {
    font-weight: bold;
}

/*.container {
    width: 970px;
}*/

.form-horizontal label, .form-horizontal input, .form-horizontal select, .form-horizontal .controls {
    font-weight: bold;
    font-size: 16px;
}

.input-xfull {
    width: 100%;
}

textarea.input-xfull {
    width: 96.3%;
}