
.gender-select-row {
    padding: 0px 15px;
}

.gender-select-row a.gallery-tab {
    width: 100%;
    display: block;
    border: 0px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 0 1px 2px #450034;
    font-size: 24px;
    line-height: 35px;
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(121, 3, 17, 0.75);
    background-color: #e90084; 
    @include pumbate-linear-gradient(#ff0090, #8a001d);
}

.gender-select-row a.gallery-tab-men {
    background-color: #DE00FF; 
    @include pumbate-linear-gradient(#DE00FF, #61127E);
}

.gender-select-row a.gallery-tab-trans {
    background-color: #f000e8; 
    @include pumbate-linear-gradient(#f000e8, #990165); 
}

.gender-select-row a.gallery-tab:hover {
    text-decoration: none;
}

.gender-select-row a.gallery-tab-disabled:hover {
    opacity: 1.0;
}

.gender-select-row a.gallery-tab-disabled {
    opacity:0.6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.gallery-wrap {
//  box-shadow: 0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 0px;
    padding: 0;
}

h3.gallery-category {
    text-shadow: 0 1px 2px #450034; 
    border-radius: 10px 10px 0px 0px;
    font-size: 22px;
    padding: 0px 10px;
    margin: 0px 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #790311;
    box-shadow: 0px 2px 5px rgba(121, 3, 17, 0.75);
    background-color: #e90084; 
    @include pumbate-linear-gradient(#ff0090, #8a001d);
}

h3.gallery-category a {
    color: white;
}

h3.gallery-filter {
    line-height: 24px;
    font-size: 22px;
    padding-top: 5px;
    color: #710019;
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
}

.gallery-filter a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    background:  rgba(57, 0, 24, 0.75);
    padding: 4px;
    box-shadow: 0px 0px 10px rgba(212, 5, 52, 0.75);
    border: 1px solid transparent;
}

.gallery-filter a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px rgba(255, 82, 196, 1);
    text-decoration: none;
    text-shadow: 2px 2px 2px 2px #6D0019;
}


.row-gallery-head {
    border-top: 3px solid #98031d;
    padding-top: 1rem;
}

/* SEARCH AND FILTER FORMS */

.location-filter-box {
    padding-left: 1rem;
}

.form-location-filter {
    margin-top: 28px;
}

.location-filter-status {
    color: #C30022;
}

@media screen and (max-width : 480px) {

    .form-location-filter
    {
        margin-top: 0;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.3rem;
    }

    .form-location-filter input[type="text"],
    .form-location-filter select
    {
        width: 98%;
        display: block;
    }

}