.section-panel {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 0.7rem;
    font-family: sans-serif;
}

.section-panel-light {
    background: #FECDD5;
    color: #300c00;
}

.section-panel-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.section-panel .text-lead {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin-bottom: 1.0rem;
}

.section .control-label {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.section-panel p {
    font-size: 1.2rem;
    line-height: 1.3rem;    
}


.section-panel .text-small {
    font-size: 1.0rem;
    line-height: 1.1rem;
}

.section-panel .label-important,
.section-panel .label-error {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    float: left;
    border-radius: 5px 5px 0 0;
}
    
.section-panel .help-inline {
    font-size: 16px;
    color: white;
    background: #f72775;
    font-weight: bold;
    margin-top: 0px;
    padding: 4px;
    float: left;
    border-radius: 0 5px 5px 5px;
}