/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {

}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #ff0078;
	background: url(img/photobg.jpg) white repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-moz-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-webkit-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-o-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: normal;
	line-height: 105px;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
}


h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
	line-height: 35px;	
}

h3.sectitle {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-moz-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-webkit-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
	-o-text-shadow: 0 0 0.4em white, 0 0 0.4em #ff6ae8;
}

h3 {
	text-shadow: 0 0 0.8em white, 0 0 0.8em #ff6ae8;
	-moz-text-shadow: 0 0 0.8em white, 0 0 0.8em #ff6ae8;
	-webkit-text-shadow: 0 0 0.8em white, 0 0 0.8em #ff6ae8;
	-o-text-shadow: 0 0 0.8em white, 0 0 0.8em #ff6ae8;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ff8fc3;
  border-bottom: 1px solid #ffdfee;
}


.navbar-main .nav > li > a {
	color: #88004a;
}

.navbar-main  .nav > li > a:hover {

}

.navbar-main .navbar-inner {
	border: 1px solid #FF8FC3;
	background-image: -moz-linear-gradient(top, white, #ffc2e3);
	background-image: -ms-linear-gradient(top, white, #ffc2e3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffc2e3));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: -o-linear-gradient(top, #ffffff, #ffc2e3);
	background-image: linear-gradient(top, #ffffff, #ffc2e3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffc2e3', GradientType=0);
}

.well {
	border-color: #ffb4d7;
	background: rgb(255, 239, 247);
	background: rgba(255, 223, 238, 0.4);
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #ff0078;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
  }
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color:  #ff0078;
  }

  .label-pumbate-phone {
	  background: #FF0078;
	  background: rgba(255, 0, 120, 0.7);
  }
  
.verified-banner {
	margin-top: -3px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2 {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}


