/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	font-family: cocon, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fde9ff;
	background: url(img/photobg.jpg) #0e0795 repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 40px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.1em #0091cd;
	-moz-text-shadow: 0 0 0.1em #0091cd;
	-webkit-text-shadow: 0 0 0.1em #0091cd;
	-o-text-shadow: 0 0 0.1em #0091cd;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120px;
	font-weight: normal;
	line-height: 105px;
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;	
	margin-top: 25px;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;	
}


h3.sectitle {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 55px;
	font-weight: normal;
	line-height: 55px;
	text-shadow: 0.05em 0.05em 0.1em #000, 0.05em 0.05em 0.1em #006189,0 0.0em 0.4em #02eaff, 0 -0.1em 0.4em #02eaff, 0 -0.1em 0.1em #02eaff, 0 0 0.4em #02eaff;
	-moz-text-shadow: 0.05em 0.05em 0.1em #000,0.05em 0.05em 0.1em #006189, 0 0.0em 0.4em #02eaff, 0 -0.1em 0.4em #02eaff, 0 -0.1em 0.1em #02eaff, 0 0 0.4em #02eaff;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0.05em 0.05em 0.1em #006189,0 0.0em 0.4em #02eaff, 0 -0.1em 0.4em #02eaff, 0 -0.1em 0.1em #02eaff, 0 0 0.4em #02eaff;
	-o-text-shadow:  0.05em 0.05em 0.1em #000,0.05em 0.05em 0.1em #006189, 0 0.0em 0.4em #02eaff, 0 -0.1em 0.4em #02eaff, 0 -0.1em 0.1em #02eaff, 0 0 0.4em #02eaff;
}

h3 {
	text-shadow:  0 0 0.05em #02eaff;
	-moz-text-shadow:    0 0 0.05em #02eaff;
	-webkit-text-shadow:   0 0 0.05em #02eaff;
	-o-text-shadow:    0 0 0.05em #02eaff;
}

hr {
	margin: 20px auto;
		border-color: white; 
	-moz-box-shadow: 0 0 0.6em #02eaff;
	-webkit-box-shadow: 0 0 0.6em #02eaff;
	box-shadow: 0 0 0.6em #02eaff;	
}

hr.main {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-main {
	margin-top: 0px;
}

.navbar-main i[class*="icon-"] {
    margin-right: 3px;
    margin-top: 5px;
}

.navbar-main .nav > li > a {
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-shadow:  0 0 0.05em #02eaff;
	-moz-text-shadow:    0 0 0.05em #02eaff;
	-webkit-text-shadow:   0 0 0.05em #02eaff;
	-o-text-shadow:    0 0 0.05em #02eaff;
}

.navbar-main  .nav > li > a:hover {
	color: white;
	font-weight: bold;
	text-shadow: 0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-moz-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-webkit-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;
	-o-text-shadow:  0.05em 0.05em 0.1em #000, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff, 0 0 0.4em #02eaff;	
}

.navbar-main .navbar-inner {
	border: 0px;
	background: transparent url('img/wellbg.png');
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
}

.well {
	border: 1px solid white;
	background: transparent url('img/wellbg.png');
	-moz-box-shadow: 0 0 0.6em #02eaff;
	-webkit-box-shadow: 0 0 0.6em #02eaff;
	box-shadow: 0 0 0.6em #02eaff;
}


.gallery .block-gallery {
	border: 1px solid #00b4ff;
	-moz-box-shadow: 0 0 0.6em #02eaff;
	-webkit-box-shadow: 0 0 0.6em #02eaff;
	box-shadow: 0 0 0.6em #02eaff;	
}



.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
  background-color: #0006ff;
  background-image: -moz-linear-gradient(top, #00b4ff, #0006ff);
  background-image: -ms-linear-gradient(top, #00b4ff, #0006ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b4ff), to(#0006ff));
  background-image: -webkit-linear-gradient(top, #00b4ff, #0006ff);
  background-image: -o-linear-gradient(top, #00b4ff, #0006ff);
  background-image: linear-gradient(top, #00b4ff, #0006ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4ff', endColorstr='#0006ff', GradientType=0);
  border-color: white;
 
  *background-color: #0006ff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-main:hover, .navbar .nav > li > a.btn-main:hover,
.btn-main:active, .navbar .nav > li > a.btn-main:active,
.btn-main.active, .navbar .nav > li > a.btn-main.active,
.btn-main.disabled,
.btn-main:focus,
.btn-main[disabled] {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	background-color: #0006ff;
	*background-color: #0006ff;
}
.btn-main:active,
.btn-main.active {
	background-color: #0006ff \9;
}



a.pumbate-link, a.pumbate-link:hover {
	color: white;
}

#back-top a {
	color: white;
		text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}

.star-bg {
	width: 100%;
	float: left;
	background: transparent url('img/darkcorner-left.png') no-repeat bottom left;
}

.star-bg2 {
	width: 100%;
	float: left;
	background: transparent url('img/darkcorner-right.png') no-repeat bottom right;
}

.full {
	width: 100%;
}

.label-pumbate-phone {
	font-family: sans-serif;
	background-color: #112781;
	background: rgba(36, 76, 205, 0.4);
}

.verified-banner {
	margin-top: 2px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2, h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}