/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: white;
	background: url(img/photobg.jpg) black repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background-container {
	border-left: 3px solid #ff9ffc;
	border-right: 3px solid #ff9ffc;
	background: transparent url('img/contbg.png');
	padding: 0px 10px;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-moz-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-webkit-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-o-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
}


h1 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: normal;
	line-height: 105px;
	text-shadow: 0 0 0.8em #5400ff, 0 0 0.4em #ff009c;
	-moz-text-shadow: 0 0 0.8em #5400ff, 0 0 0.4em #ff009c;
	-webkit-text-shadow: 0 0 0.8em #5400ff, 0 0 0.4em #ff009c;
	-o-text-shadow: 0 0 0.8em #5400ff, 0 0 0.4em #ff009c;
}

h2 {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 50px;	
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
}


h3.sectitle {
	font-family: remachine, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-moz-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-webkit-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-o-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
}

h3 {
	text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-moz-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-webkit-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
	-o-text-shadow: 0 0 0.2em #5400ff, 0 0 0.4em #ff009c;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 3px dotted #ff9ffc;
  border-bottom: none;
}

.navbar-main {
	margin-top: 0px;
}

.navbar-main .nav > li > a {
	color: white;
}

.navbar-main  .nav > li > a:hover {
	color: white;

	text-shadow: 0 0 0.1em #5400ff, 0 0 0.2em #ff009c;
	-moz-text-shadow: 0 0 0.1em #5400ff, 0 0 0.2em #ff009c;
	-webkit-text-shadow: 0 0 0.1em #5400ff, 0 0 0.2em #ff009c;
	-o-text-shadow: 0 0 0.1em #5400ff, 0 0 0.2em #ff009c;
}

.navbar-main .navbar-inner {
	border: 1px solid #ff9ffc;
	background-image: -moz-linear-gradient(top, #44007e, #310041);
	background-image: -ms-linear-gradient(top, #44007e, #310041);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44007e), to(#310041));
	background-image: -webkit-linear-gradient(top, #44007e, #310041);
	background-image: -o-linear-gradient(top, #44007e, #310041);
	background-image: linear-gradient(top, #44007e, #310041);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44007e', endColorstr='#310041', GradientType=0);
}

.well {
	border: 0px none;
	background: transparent url('img/wellbg.png');
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #5d2ebd;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
	border: 1px solid white;
  }
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color:  #5400ff;
	  border: 1px solid white;
  }
  
a.pumbate-link {
    color: white;
}

a.pumbate-link:hover {
	color: white;
}

#back-top a {
	color: white;
		text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-moz-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-webkit-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
	-o-text-shadow: 0 0 0.2em #ba00ff, 0 0 0.2em #ff6ae8;
}

#back-top a:hover  { 
	color: white;
}

.label-pumbate-phone {
	font-family: sans-serif;
	background: #5D2EBD;
}

.verified-banner {
	margin-top: 0px;
	float: right;
}


@media (max-width: 480px) {
	h1 {
		font-size: 70px;
		line-height: 60px;
	}

	h2 {
		font-size: 50px;
		line-height: 42px;	
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	
	h3.sectitle {
		font-size: 50px;
		line-height: 60px;
	}
}

