/*
	Basic theme style.
	2013 - Pumbate Escorts
*/

html {
	
}

body {
	padding-top: 20px;
	font-family: "Baskervile", 'Times New Roman', Helvetica, Arial, serif;
	color: #d20c62;
	background: url(img/newbg.png) #4f0f00 repeat; 
}

h1,h2,h3,h4,h5,h6,p,li {
	font-weight: bold;
	color: rgb(91, 87, 71);
}


h1 {
	font-family: "Baskervile", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 70px;
	font-weight: normal;
	line-height: 85px;
	color: #FAD400;
	text-transform: uppercase;
	text-shadow: 0 0 0.1em #FAD400;
	-moz-text-shadow: 0 0 0.1em #FAD400;
	-webkit-text-shadow: 0 0 0.1em #FAD400;
	-o-text-shadow: 0 0 0.1em #FAD400;
	
}

h2 {
	
    text-transform: uppercase;
	font-family: "Baskervile", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;	
	color: #FFFFD4;
	letter-spacing: 7px;
	text-shadow: 0 0 0.1em #D4FEFF;
	-moz-text-shadow: 0 0 0.1em #D4FEFF;
	-webkit-text-shadow: 0 0 0.1em #D4FEFF;
	-o-text-shadow: 0 0 0.1em #D4FEFF;
}

h2.outer-header, h2.outer-header a, h2.outer-header a:hover {
	text-align: center;
	color: #FFFFD4;
	text-transform: none;
	text-shadow: 0 0 0.1em #D4FEFF;
	-moz-text-shadow: 0 0 0.1em #D4FEFF;
	-webkit-text-shadow: 0 0 0.1em #D4FEFF;
	-o-text-shadow: 0 0 0.1em #D4FEFF;
	font-size: 35px;
	line-height: 45px;	
	margin-top: 20px;
	letter-spacing: 2px;
		
}


h3.sectitle {
	color: #4a3e2f;
	font-family: "Baskervile", 'Times New Roman', Helvetica, Arial, serif;
	letter-spacing: normal;
	font-size: 24px;
	font-weight: normal;
	line-height: 50px;
	text-transform: uppercase;
	text-shadow: 0 0 0.1em #D4FEFF;
	-moz-text-shadow: 0 0 0.1em #D4FEFF;
	-webkit-text-shadow: 0 0 0.1em #D4FEFF;
	-o-text-shadow: 0 0 0.1em #D4FEFF;
}

h3 {
	font-family: "Baskervile", 'Times New Roman', Helvetica, Arial, serif;
	font-size: 30px;
	color: #FFFFD4;
	letter-spacing: 4px;
	text-shadow: 0 0 0.1em #f0b500;
	-moz-text-shadow: 0 0 0.1em #f0b500;
	-webkit-text-shadow: 0 0 0.1em #f0b500;
	-o-text-shadow: 0 0 0.1em #f0b500;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #d4a936;
  border-bottom: 1px solid #a56800;
}


.navbar-main {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-main .nav > li > a {
	color: white;
	text-transform: uppercase;
	-moz-text-shadow: 1px 1px 1px rgb(98, 88, 51);
	-webkit-text-shadow: 1px 1px 1px rgb(98, 88, 51);
	-o-text-shadow: 1px 1px 1px rgb(98, 88, 51);
	-ms-text-shadow: 1px 1px 1px rgb(98, 88, 51);
	text-shadow: 1px 1px 1px rgb(98, 88, 51);
}

.navbar-main  .nav > li > a:hover {
	color: #300010; 
	-moz-text-shadow: 0 0 0.2em rgb(204, 204, 204);
	-ms-text-shadow: 0 0 0.2em rgb(204, 204, 204);
	-o-text-shadow: 0 0 0.2em rgb(204, 204, 204);
	text-shadow: 0 0 0.2em rgb(204, 204, 204);
	-webkit-text-shadow: 0 0 0.2em rgb(204, 204, 204);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.navbar-main .navbar-inner {
	border: 1px solid #854c00;
	border-bottom: 2px solid #854c00;
	background-image: -moz-linear-gradient(top, #d4a936, #a56800);
	background-image: -ms-linear-gradient(top, #d4a936, #a56800);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d4a936), to(#a56800));
	background-image: -webkit-linear-gradient(top, #d4a936, #a56800);
	background-image: -o-linear-gradient(top, #d4a936, #a56800);
	background-image: linear-gradient(top, #d4a936, #a56800);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4a936', endColorstr='#a56800', GradientType=0);
		 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.content-bg {
	margin-top: 25px;
	 background: url("img/content-bg.jpg") repeat-x scroll 0 0 #F5F2ED;
	 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.content{
	 padding: 10px;
}


.well {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	border: none;
	background: url('img/wellbg.jpg') transparent;
}

.btn-main {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
	background-color: #a56800;
	background-repeat: repeat-x;
	border-color: none;
	background-image: none;
}
  .btn-main:focus,
  .btn-main:hover,
  .btn-main:active,
  .btn-main.active,
  .btn-main.disabled,
  .btn-main[disabled] {
	  font-weight: bold;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	  color: white;
	  background-color: #d4a936 ;
  }

  a.pumbate-link, a.pumbate-link:hover {
	color: #FFFFD4;
	text-transform: none;
	text-shadow: 0 0 0.1em #D4FEFF;
	-moz-text-shadow: 0 0 0.1em #D4FEFF;
	-webkit-text-shadow: 0 0 0.1em #D4FEFF;
	-o-text-shadow: 0 0 0.1em #D4FEFF;
  }

#back-top a { 
	color: white;
		text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-moz-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-webkit-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
	-o-text-shadow: 0 0 0.4em #860065, 0 0 0.4em #4e003b;
}

#back-top a:hover { 
	color: white;
}

#back-top span {
	background-color: #ce3b18;
}

#back-top a:hover span {
	background-color: #e43309;
}

.label-pumbate-phone {
	background-color: #5B5747;
}

.verified-banner {
	margin-top: -2px;
	float: right;
}